<style>
    #dvMsgSuccess {
        font-size: 14px;
        color: green;
        background-color: #C0F2D8;
        border: 1px solid green;
    }

    #dvMsgError {
        font-size: 14px;
        color: red;
        border: 1px solid red;
    }
</style>
<div style="width: 100%;">
    @*
    <div id="dvMsgSuccess">
    </div>
    *@
    <div id="dvMsgError">
    </div>
    <div id="dvMsgSuccess">
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#dvMsgError").html('');
        $("#dvMsgSuccess").html('');
        var ErrCode;
        ErrCode = @Html.Raw(Json.Encode(ViewBag.ErrorCode));
        if(ErrCode.split(':')[0] == "ERROR")
        {
            $("#dvMsgSuccess").hide();
            parent.document.getElementById('dvRedirect').style.display='none';
            $("#dvMsgError").html(ErrCode.split(':')[1]);
        }
        else
        {
            $("#dvMsgError").hide();
            parent.document.getElementById('dvRedirect').style.display='';
            $("#dvMsgSuccess").html("User Master excel uploaded successfully.Please click on the Go to Batch processing screen link to view the status of the upload");
        }
      
    });

</script>
