<div style="float: right; margin-right: 19px; margin-top: 5px;">
     <span id="spnSaleOrderStatus"></span>
    <a id="lnklogout" href="#" onclick="fnLogOut()">Logout</a>
</div>

<div data-theme="b" data-role="header">
    <a id="CLHome" data-role="button" data-theme="b" href="#page1" data-icon="home"
        data-iconpos="notext" class="ui-btn-right" onclick="fnGoToOTC()"></a>
    <h3></h3>
    <div data-theme="b" data-role="header" data-mini="true" style="max-height: 1.7em !important;">
        <h5 style="text-align: left !important; margin-top: 0.5%; padding-left: 5px; margin-left: 0.5%; font-size: 0.83em;">Order Status
        </h5>
    </div>
</div>
<div role="main" class="ui-content ui-body-d" data-theme="d" data-role="content">
    <div data-role="collapsible-set">
        <div data-role="collapsible" data-theme="b" data-collapsed="false">
            <h3>Unapproved Order
            </h3>
            <div id="dvCLOrderStatus"></div>
        </div>
        <div data-role="collapsible" data-theme="b" data-collapsed="false">
            <h3>Pending For Approval
            </h3>
            <div id="dvCLOrderAppliedStatus"></div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Areas/HiDoctor_Activity/Scripts/Mobile/mOTC.js?v=@HiDoctor.BuildNumber.BuildNo")"></script>

<script>
    var sPersonName_g = "";
    var orders_g = new Array();
    $(document).ready(function () {
        $('#spnSaleOrderStatus').html(loginUserName_g);
        AjaxGlobalHandler.Initiate();
        fnCLBindSalesOrderStatus();
    });
</script>