<!DOCTYPE html>
<html lang="en" style="background-color:white;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HiDOCTOR Welcomes You!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">*@
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
    <script src="/Scripts/jquery.mtz.monthpicker.js"></script>
    <link href="~/Content/Bootstrap/BootStrap4/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/1.12.1-js/jquery-ui.js"></script>
    <link href="~/Content/Bootstrap/BootStrap4/fontawesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/ej2/ej2.min.js"></script>
    <link href="~/Content/ej2/material.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.min.js"></script>
</head>

<body>
    <style>
        .swal-overlay--show-modal {
            opacity: 1;
            pointer-events: none;
        }
    </style>
    <main class="wrap_parent">
     
        <main class="page_template">
            <section class="content_section col-xs-12 dvMobileCSS p-sm-3">
                @RenderBody()
            </section>
        </main>

    </main>
</body>
</html>

<script type="text/javascript">
    var CompanyCode="";
    var CUserCode="";
    var CregionCode="";
    var UTypeCode="";
    var userDetails="";
    $(document).ready(function () {
      
     
    });


</script>


