@{
    ViewBag.Title = "_CubeLayOut";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/jquery.jqpivot.css?v=@HiDoctor.BuildNumber.BuildNo" />
    <link href="../../Content/all.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery.ui.all.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/jquery.stickytableheaders.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="~/Scripts/jquery.jqpivot.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="~/Scripts/HD/common.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="../../Scripts/msg-box.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="~/Scripts/jquery.blockUI.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/AjaxGlobalHandler.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
</head>

<body id="top">
    @RenderBody()
</body>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
</html>
