@{
    Layout = "~/Views/Shared/_batchMobileLayOut.cshtml";
}


<div class="form-row">
    <div class="form-group col-xs-12" style="padding: 5px;">
        <div id="dvError">
            <img class="img-responsive" style="height: 100%;" src="~/Areas/HiDoctor_Activity/Content/images/NoInternet.jpg" />
        </div>
    </div>
</div>
