@{
    ViewBag.Title = "DCRCountAlumni";
    Layout = null;
}
<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<div>
    <div id="dvTree" style="width: 20%; float: left">
        <div id="tree" style="float: left; height: 530px; width: 100%">
        </div>
    </div>
    <div style="width: 80%; float: left" id="divMain">
        <div style="display: none;" id="divToggle">
            <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                onclick="fnToggleTree()">Hide Tree</span> | <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleInput()">Hide Input</span>
        </div>
        <div id="divInput" style="display: none; padding: 5px">
            <table>
                <tr>
                    <td>Start Date & End Date
                    </td>
                    <td>
                        <input type="text" id="txtStartDate" class='datepicker' />
                        <input type="text" id="txtEndDate" class='datepicker' />
                    </td>
                </tr>
                <tr>
                    <td>DCR Status
                    </td>
                    <td>
                        <input type="hidden" id="hdnRegionCode" /><br>
                        <input type="checkbox" name="DCRStatus" value="1">Applied<br />
                        <input type="checkbox" name="DCRStatus" value="2">Approved<br />
                        <input type="checkbox" name="DCRStatus" value="0">Unapproved<br />
                        <input type="checkbox" name="DCRStatus" value="1,2,0">ALL<br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="btnShow" name="Show" value="Show Report" onclick="fnDCRCountAlumni();" />
                    </td>
                </tr>
            </table>
            <div id="dvloading" style="display: none">
                <img src="../../Content/images/loader1.gif" />
            </div>
            <hr />


        </div>
        <div id="divReport">
        </div>
    </div>
</div>
<iframe id="ifrmPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divPrint" style="display: none;"></div>

<script src="../../Areas/HiDoctor_Reports/Scripts/HD/Reports%20level2.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript">
    var c_g;
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            numberOfMonths: 2
            //showButtonPanel: true
        });
    });
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            fnBindRegionTree("tree");
            $("#dvTree").show();
            $('#divInput').hide();
            $('#divToggle').hide();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }

    });
    function fnRegionTreeActivate(node) {
        $("#divReport").html("");
        $("#dvTree").hide();
        $('#hdnRegionCode').val(node.data.key);
        $('#divInput').show();
        $("#spnTreeToggle").html('Show Tree');
        $('#divToggle').show();
        $("#divMain").css('width', '100%');
    }
    function fnRegionTreePostInit() {

    }

</script>
