@{
    ViewBag.Title = "DcrWeeklyReport";
    Layout = null;
}
<style>
    .lblText {
        width: 8%;
    }

    .dvHeader {
        font-weight: bold;
        font-size: large;
        border-bottom: 1px solid #01B7E9;
        background: #efefef;
        padding: 10px;
        width: 100%;
    }

    .dvheader-inner {
        float: left;
        margin-right: 10px;
    }
</style>


<div>
    <div>
        <div style="clear: both"></div>
    </div>
    <div class="col-lg-12" style="min-height: 260px; overflow: auto;">
        <div id="dvTree" class="col-lg-3">
            <div style="clear: both"></div>
            <div id="tree" style="height: 630px;">
                <div class="dv-controls-load">
                    <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                    Loading tree
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div id="dvdata" class="col-lg-9" style="display: none">
            <div>
                <span onclick="fnToggleTree()" class="shInput" id="lnkTree" style="margin-right: 3px;">Hide Tree</span>
                |
                <span onclick="fnToggleInputs()" class="shInput" id="lnkInput" style="margin-left: 5px">Hide Input</span>
            </div>
            <div style="clear: both"></div>
            <div id="rptInputs" class="col-lg-12 dvRptInput">
                <div style="float: right">
                    <img src='../Images/HelpIcon.png' onclick="fnHelp('DCRWEEKLY-REFERENCE','PAGE_HEADER')" />
                </div>
                <div>
                    <label class="lblText">Start Date</label><input type="text" id="txtFromDate" class="datepicker" />
                </div>
                <input type="hidden" id="hdnUserCode" />
                <div>
                    <label class="lblText">End Date</label><input type="text" id="txtToDate" class="datepicker" />
                </div>
                <div>
                    <label class="lblText">Dcr Status</label>
                    <input type="checkbox" class="clsCheck" name="DcrStatus" value="1"  onclick="chkAllChecked();">Applied
                    <input type="checkbox" class="clsCheck" name="DcrStatus" value="2" onclick="chkAllChecked();">Approved
                    <input type="checkbox" class="clsCheck" name="DcrStatus" value="0" onclick="chkAllChecked();">Unapproved
                    <input type="checkbox" id="chkAll" name="DcrStatus" value="1^2^0^" onclick="checkAll();">All
                </div>
                <div style="clear: both"></div>
                <div class="col-lg-13">
                    <div style="margin-left: 9%">
                        <input type="radio" value="1" id="optViewInScreen" name="rptOptions" checked="checked" />
                        <label for="optViewInScreen">View in-screen</label>
                        <input type="radio" value="2" id="optExportToExcel" name="rptOptions" />
                        <label for="optExportToExcel">Export to excel</label>
                    </div>
                    <button style="margin-left: 9%" id="btnSave" type="button" class="btn btn-primary" onclick="fnShowDCRWeeklyreport()">Show Report</button>
                </div>
            </div>
            <div style="clear: both"></div>
            <div id="dvTable" style="height: 500px; margin-top: 1%" class="col-lg-12"></div>
        </div>
    </div>
</div>
<div id="dvloading" style="display: none">
    <img src="../../Content/images/loader1.gif" />
</div>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript" src="../../Areas/HiDoctor/Scripts/HD/common.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/DcrQuality.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<link href="../../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<link href="~/Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script type="text/javascript">
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                //showButtonPanel: true
            });
            fnBindUserTree("tree");
            $.unblockUI();
            $("#dvTree").show();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnToggleTree() {
        if ($('#dvTree').hasClass('col-lg-3')) {
            fnCloseTree();
        }
        else {
            fnOpenTree();
        }
    }
    function fnUserTreePostInit() {
    }
    function fnOpenTree() {
        $("#tree").slideDown();
        $('#lnkTree').html('Hide Tree')
        $('#dvTree').addClass('col-lg-3')
        $('#dvdata').removeClass('col-lg-12')
        $('#dvdata').addClass('col-lg-9')
    }
    function fnCloseTree() {
        $("#tree").slideUp();
        $('#lnkTree').html('Show Tree')
        $('#dvTree').removeClass('col-lg-3')
        $('#dvdata').addClass('col-lg-12')
        $('#dvdata').removeClass('col-lg-9')
    }
    function fnToggleInputs() {
        if ($("#rptInputs").hasClass('col-lg-12')) {
            $("#rptInputs").hide();
            $("#rptInputs").removeClass('col-lg-12')
            $('#lnkInput').html('Show Inputs')
        }
        else {
            $("#rptInputs").show();
            $("#rptInputs").addClass('col-lg-12');
            $('#lnkInput').html('Hide Inputs')
        }
    }

    function fnUserTreeNodeClick(node) {
        $('#hdnUserCode').val(node.data.key);
        $("#dvdata").show();
        fnCloseTree();
    }
</script>


