@{
    ViewBag.Title = "TpWithCpDoctorMissed";
    Layout = null;
}
<style>
    label {
        padding-left: 5px;
    }

    #tblUserDetails td {
        font-weight: bold;
    }

    .col-lg-12 {
        padding-bottom: 5px;
    }
</style>

<link href="~/Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>

<div>
    <div>
        <div style="clear: both"></div>
    </div>
    <div class="col-lg-12" style="min-height: 450px; overflow: auto;">
        <div id="dvTree" class="col-sm-3">

            <div style="clear: both"></div>
            <div id="dvregionTree" style="height: 630px;">
                <div class="dv-controls-load">
                    <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                    Loading tree
                </div>
            </div>
            <input type="hidden" value="" id="hdnRegionCode" />
            <div style="clear: both"></div>
        </div>

        <div id="dvdata" class="col-lg-9" style="display: none">
            <div>
                <span onclick="fnToggleTree()" class="shInput" id="lnkTree" style="margin-right: 3px;">Hide Tree</span>
                |
                <span onclick="fnToggleInputs()" class="shInput" id="lnkInput" style="margin-left: 5px">Hide Input</span>
            </div>
            <div style="clear: both"></div>
            <div id="rptInputs" class="col-lg-12 dvRptInput">
                <div class="col-lg-12">
                    <div class="helpIconright">
                        <img src="~/Images/HelpIcon.png" onclick="fnHelp('TPWITHCPDOCTORMISSED','PAGE')" />
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-2">
                        Month & Year   
                    </div>
                    <div class="col-lg-2">
                        <input type="text" id="txtMonth" class="form-control" />
                    </div>
                    <div class="col-lg-8">
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-2">
                        TP Status  
                    </div>
                    <div class="col-lg-7">
                        <input type="checkbox" value="2" id="chkApplied" name="tpStatus" onclick="fnUncheckTPAll();" /><label for="chkApplied">Applied</label>
                        <input type="checkbox" value="1" id="chkApproved" name="tpStatus" onclick="fnUncheckTPAll();" /><label for="chkApproved">Approved</label>
                        <input type="checkbox" value="0" id="chkUnapproved" name="tpStatus" onclick="fnUncheckTPAll();" /><label for="chkUnapproved">Unapproved</label>
                        <input type="checkbox" value="0,1,2" id="chkAll" name="tpAll" onclick="fnCheckTPAll();" /><label for="chkAll">All</label>
                    </div>
                    <div class="col-lg-3">
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <input type="radio" value="N" id="optViewInScreen" name="rptOptions" checked="checked" />
                        <label for="optViewInScreen">View in-screen</label>
                        <input type="radio" value="Y" id="optExportToExcel" name="rptOptions" />
                        <label for="optExportToExcel">Export to excel</label>
                    </div>
                    <div class="col-lg-4"></div>
                    <div style="clear: both"></div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <input type="button" class="btn btnprimary" value="Show Report" onclick="fnBindTpWithCPDoctorMissed()" />
                    </div>
                    <div class="col-lg-5"></div>
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div id="dvDataTable" style="padding-top: 5px;">
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>
<div id="dvloading" style="display: none">
    <img src="../Areas/HiDoctor_Reports/Content/images/loader1.gif" />
</div>


<script src="../../Areas/HiDoctor_Reports/Scripts/HD/TpReports.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<link href="../../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $('#txtMonth').monthpicker();
    });
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            $(document).ajaxStop($.unblockUI);
            fnBindRegionTree("dvregionTree")
            $("#dvTree").show();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnRegionTreeActivate(node) {
        fnCloseTree();
        $("#hdnRegionCode").val(node.data.key);
        fnClearTpWithCPDoctorMissed();
        $("#dvdata").show();
        $('#lnkInput').html('Hide Inputs')
        $("#rptInputs").show();
        $("#rptInputs").addClass('col-lg-12');
        $("#dvDataTable").empty();
    }

    function fnRegionTreePostInit() {
    }

    function fnToggleTree() {
        if ($('#dvTree').hasClass('col-sm-3')) {
            fnCloseTree();
        }
        else {
            fnOpenTree();
        }
    }

    function fnOpenTree() {
        $('#lnkTree').html('Hide Tree')
        $("#dvregionTree").slideDown();

        $('#dvTree').addClass('col-sm-3')
        $('#dvdata').removeClass('col-lg-12')
        $('#dvdata').addClass('col-lg-9')
    }

    function fnCloseTree() {
        $('#lnkTree').html('Show Tree')
        $("#dvregionTree").slideUp();

        $('#dvTree').removeClass('col-sm-3')
        $('#dvdata').addClass('col-lg-12')
        $('#dvdata').removeClass('col-lg-9')
    }

    function fnToggleInputs() {
        if ($("#rptInputs").hasClass('col-lg-12')) {
            $('#lnkInput').html('Show Inputs')
            $("#rptInputs").hide();
            $("#rptInputs").removeClass('col-lg-12')
        }
        else {
            $('#lnkInput').html('Hide Inputs')
            $("#rptInputs").show();
            $("#rptInputs").addClass('col-lg-12');
        }
    }
</script>
