@{
    ViewBag.Title = "WorkAnalysisreportNew";
    Layout = null;
}

<style>
    .lblText {
        width: 10%;
    }

    .dvHeader {
        font-weight: bold;
        font-size: large;
        border-bottom: 1px solid #01B7E9;
        background: #efefef;
        padding: 10px;
        width: 100%;
    }

    .dvheader-inner {
        float: left;
        margin-right: 10px;
    }
</style>

<div>
    <div>
        <div style="clear: both"></div>
    </div>
    <div class="col-lg-12" style="min-height: 260px; overflow: auto;">
        <div id="dvTree" class="col-lg-3">
            <div style="clear: both"></div>
            <div id="tree" style="height: 630px;">
                <div class="dv-controls-load">
                    <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                    Loading tree
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div id="dvdata" class="col-lg-9" style="display: none">
            <div>
                <span onclick="fnToggleTree()" class="shInput" id="lnkTree" style="margin-right: 3px;">Hide Tree</span>
                |
                <span onclick="fnToggleInputs()" class="shInput" id="lnkInput" style="margin-left: 5px">Hide Input</span>
            </div>
            <div style="clear: both"></div>
            <div id="rptInputs" class="col-lg-12 dvRptInput">
                <div style="float: right">
                    <img src='../Images/HelpIcon.png' onclick="fnHelp('WORKANALYSIS-REFERENCE','PAGE_HEADER')" />
                </div>
                <div>
                    <label class="lblText">Start Month</label><input type="text" id="txtFromMonth" />
                    <input type="hidden" id="hdnUserCode" />
                </div>
                <div>
                    <label class="lblText">End Month</label><input type="text" id="txtToMonth" />
                </div>
                <div class="col-lg-12">
                    <div>
                        <input type="radio" value="1" id="optViewInScreen" name="rptOptions" checked="checked" />
                        <label for="optViewInScreen">View in-screen</label>
                        <input type="radio" value="2" id="optExportToExcel" name="rptOptions" />
                        <label for="optExportToExcel">Export to excel</label>
                    </div>
                    <button id="btnSave" type="button" class="btn btn-primary" onclick="fnShowreport()">Show Report</button>
                </div>
            </div>
            <div style="clear: both"></div>
            <div id="dvTable" style="height: 500px; margin-top: 1%" class="col-lg-12"></div>
        </div>

    </div>
</div>
<div id="dvloading" style="display: none">
    <img src="../../Content/images/loader1.gif" />
</div>
<div id="dvOverlay" style="display: none; z-index: 10000; background-color: #fff; width: 980px; min-height: 585px; border: 1px solid #666; -moz-box-shadow: 0 0 90px 5px #000; -webkit-box-shadow: 0 0 90px #000;">
    <div style="position: absolute; font-size: 11px; width: 98%; padding: 10px;">
        <span style="float: right; cursor: pointer; color: white" onclick="$('#dvOverlay').overlay().close();;">
            <img src="~/Images/close.png" />
        </span>
        <h2 id="popheader" class="popheader"></h2>
        <div id="divModel" style="height: 500px; overflow: auto">
        </div>
        <div style="clear: both">
        </div>
    </div>
</div>

<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript" src="../../Areas/HiDoctor/Scripts/HD/common.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/WorkAnalysis.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<link href="../../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<link href="~/Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script type="text/javascript">
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            $("#dvOverlay").overlay().load();
            $(function () {
                $('#txtFromMonth').monthpicker();
            });
            $(function () {
                $('#txtToMonth').monthpicker();
            });
            fnBindUserTree("tree");
            $("#dvTree").show();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnToggleTree() {
        if ($('#dvTree').hasClass('col-lg-3')) {
            fnCloseTree();
        }
        else {
            fnOpenTree();
        }
    }
    function fnUserTreePostInit() {
    }
    function fnOpenTree() {
        $("#tree").slideDown();
        $('#lnkTree').html('Hide Tree')
        $('#dvTree').addClass('col-lg-3')
        $('#dvdata').removeClass('col-lg-12')
        $('#dvdata').addClass('col-lg-9')
    }
    function fnCloseTree() {
        $("#tree").slideUp();
        $('#lnkTree').html('Show Tree')
        $('#dvTree').removeClass('col-lg-3')
        $('#dvdata').addClass('col-lg-12')
        $('#dvdata').removeClass('col-lg-9')
    }
    function fnToggleInputs() {
        if ($("#rptInputs").hasClass('col-lg-12')) {
            $("#rptInputs").hide();
            $("#rptInputs").removeClass('col-lg-12')
            $('#lnkInput').html('Show Inputs')
        }
        else {
            $('#lnkInput').html('Hide Inputs')
            $("#rptInputs").show();
            $("#rptInputs").addClass('col-lg-12');
        }
    }
    function fnUserTreeNodeClick(node) {
        $('#hdnUserCode').val(node.data.key);
        $("#dvdata").show();
        fnCloseTree();
    }
</script>



