@{
    ViewBag.Title = "Index";
    Layout=null;
}
<input type="button" value="Sow Report" onclick="fnShowReport();" />
<<script type="text/javascript">

     $(document).ready(function () {

         $("#dvAjaxLoad").hide();
     });
     function fnShowReport() {
         var oTable = $('#tblCustomer').dataTable({
             "bServerSide": true,
             "sAjaxSource": "TableTools/GetAllCustomers",
             "bProcessing": true,
             "aoColumns": [
                              {
                                  "sName": "Customer_Name"
                              },
                             {
                                 "sName": "Customer_Code"
                             },
                             {
                                 "sName": "Address1"
                             },
                             {
                                 "sName": "Address2"
                             },
                             {
                                 "sName": "Local_Area"
                             },
                             {
                                 "sName": "City"
                             },
                             {
                                 "sName": "Phone"
                             },
                             {
                                 "sName": "Mobile"
                             },
                             {
                                 "sName": "MDL_Number"
                             },
                                     {
                                         "sName": "Region_Code"
                                     },
                             {
                                 "sName": "Region_Type_Code"
                             }

             ]
         });

     }
</script>
<table id="tblCustomer" class="data display datatable">
</table>

