@model MVCModels.DomainMasterModel

@{
    Layout = null;
}

<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js" type="text/javascript"></script>

<div id="dvRules" class="col-lg-12 form-group">
    <table>
        <tr>
            <td>
                <label class="control-label">Domain:</label>
            </td>
            <td style="margin-top:10px">
                <input type="hidden" name="DomainCode" id="hdnDomaincodeval" />
                <input type="text" id="txtdomainname" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Start Date:</label>
            </td>
            <td style="margin-top:10px">
                <input type="text" id="txtstartDate" class='datepicker form-control' />
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">End Date:</label>
            </td>
            <td style="margin-top:10px">
                <input type="text" id="txtEndDate" class='datepicker form-control' />
            </td>
        </tr>
        <tr>
            <td style="margin-top:10px">
                <input type="button" name="Save" value="Save" id="btnsave" class="btn btn-primary" />
                <input type="hidden" name="Update" value="I" id="hdnMode" />
            </td>
            <td style="margin-top:10px">
                <input type="button" name="Cancel" value="Cancel" id="btncancel" class="btn btn-primary" />
            </td>
        </tr>
    </table>
    <br />
 @Html.ActionLink("Download DomainMaster details", "PutDomainMasterIntoExcel",new {})
<br />
    <div id="divdomainMaster"></div>
</div>

<script src="../../Areas/HiDoctor_Master/Scripts/HD_Master/DomainMaster.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        fnGetDomaindetails();
        $("#dvAjaxLoad").hide();
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });
</script>
