@{
    ViewBag.Title = "TargetReport";
    Layout = null;
}
<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<div id="dvTree" style="width: 20%; float: left">
    <div id="tree" style="float: left; height: 530px; width: 100%">
    </div>
</div>
<div style="width: 80%; float: left" id="divMain">
    <div style="display: none;" id="divToggle">
        <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
            onclick="fnToggleTree()">Hide Tree</span>

    </div>
    <div id="dvloading" style="display: none">
        <img src="../../Content/images/loader1.gif" />
    </div>
    <input type="hidden" id="hdnRegionCode" />
    <div id="divReport">
    </div>
</div>
<iframe id="ifrmPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divPrint" style="display: none;"></div>



<script src="../../Areas/HiDoctor_Reports/Scripts/HD/Reports.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript">
    var c_g;
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {

            fnBindRegionTree("tree");
            $("#dvTree").show();
            $('#divToggle').hide();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnRegionTreeActivate(node) {
        $("#dvTree").hide();
        $("#divReport").html("");
        $('#hdnRegionCode').val(node.data.key);
        $("#spnTreeToggle").html('Show Tree');
        $('#divToggle').show();
        $("#divMain").css('width', '100%');
        GetTarget();
    }
    function fnRegionTreePostInit() {

    }
</script>
