@{
    ViewBag.Title = "SecondarySalesForCustomer";
}
<script src="http://localhost:49762/Areas/HiDoctor_Master/Scripts/HD_Master/SecondarySalesForCustomer.js"></script>
<h2>SecondarySalesForCustomer</h2>
