@{
    string IsResponsive = Convert.ToString(HttpContext.Current.Session["IsResponsive"]);
    switch (IsResponsive)
    {
        case "Yes":
            Layout = "~/Views/Shared/_ResponsiveMobileLayout.cshtml";
            break;
        default:
            Layout = "~/Views/Shared/_CCMCommonLayout.cshtml";
            break;
    }
}
<style>
    .modal-backdrop {
        background-color: transparent !important;
    }

    .modal-dialog {
        max-width: 850px !important;
    }

    .modal-content {
        border: none;
    }

    label {
        font-weight: 500 !important;
    }

    .col-form-label {
        font-size: small !important;
    }

    table {
        font-size: 13px !important;
    }
     #footer {
            box-shadow: none !important;
    }
    
</style>
<div class="startcss">
    <form>
        <div class="form-row clearfix">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Region Name :</label>
                <div id="regions"><input class="form-control" type='text' tabindex='1' id='region' /></div>
            </div>
        </div>
    </form>
    <div class="col-sm-12">
        <div class="alert alert-primary text-center" role="alert" id="alert" style="display:none;">
            No Orders .
        </div>
    </div>
    <div class="card-columns" id="orderLst" style="display:none;">

    </div>
</div>

@*<div id="stockiest">
    <div class="form-row clearfix">
        <div class="form-group col-12 col-md-6">
            <label for="inputDiscount">Stockiest</label>
            <select class="form-control form-control-sm" id="ddStock"></select>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="inputStartDate">Remark</label>
            <textarea class="form-control form-control-sm" id="remarks" rows="2"></textarea>
        </div>
    </div>
    <div class="text-sm-left">
        <button type="button" class="btn btn-outline-info btn-sm mr-2" id="map" onclick="OrderMaintain.fnAcknowledge(1);">Acknowledge</button>
        <button type="button" class="btn btn-outline-info btn-sm" id="cancel" onclick="OrderMaintain.fncancelorder();">Order Cancel</button>
    </div>
</div>*@
<div class="modal" id="myModalcancel">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="padding:0px">
                <h4 class="modal-title">Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modelbody1" style="height:450px;overflow-y: auto; overflow-x: hidden;">

            </div>
            <div class="modal-footer" id="footer">
                
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="padding:0px">
                <h4 class="modal-title">Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modelbody" style="height:450px;overflow-y: auto; overflow-x: auto;">

            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="CancelModel">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="padding:0px">
                    <h4 class="modal-title">Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="cancelmodelbody" style="height:600px;overflow-y: auto; overflow-x: hidden;">

                </div>
            </div>
        </div>
    </div>*@

<link href="~/Areas/HiDoctor_Activity/Content/OrderFulfillment.css" rel="stylesheet" />
<script src="~/Areas/HiDoctor_Activity/Scripts/HD/OrderMaintenance.js?v=@DateTime.Now.Ticks"></script>
<script src="~/Areas/HiDoctor_Activity/Scripts/CoreREST.js"></script>


<script>


    var subDomainName=@Html.Raw(Json.Encode(ViewBag.subDomainName));
    var RegionCode=@Html.Raw(Json.Encode(ViewBag.RegionCode));
    var CompanyCode=@Html.Raw(Json.Encode(ViewBag.CompanyCode));
    var UserCode=@Html.Raw(Json.Encode(ViewBag.UserCode));
    var Company_Id=@Html.Raw(Json.Encode(ViewBag.Company_Id));
    $('#dvAjaxLoad').hide();
    //$("#heading").text("Order Processing");
    $("#first").text("Order Processing");
    $("#second").text("Order Maintenance");


    $(document).ready(function () {
        debugger;
        OrderMaintain.init();
    });
</script>
