@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_CubeLayout.cshtml";
}

<div style="font-size: 15px; font-weight: bold;margin:10px;color: #1570A6;">User Instruction</div>
<div style="margin:10px">
    For Internet explorer users: <br />
         1. Go to Tools ->  <br />
         2. Select Internet Options ->  <br />
         3. Click Security tab ->  <br />
         4. Choose Trusted sites ->  <br />
         5. Click on Site button -> Type the following url "http://swaasad.cloudapp.net"  in this space provided next to add button   <br />
         6. Uncheck "Require server verification" checkbox  <br />
         7. click on add button. <br />
         8. Click on close button. <br />
           <br />
           <br />
    For chrome users  :  <br />
         1. Go to Settings ->  <br />
         2. Click the Change proxy settings button ->  <br />
         3. Choose Security tab -> <br />
         4. Choose Trusted sites ->  <br />
         5. Click on Site button -> Type the following url "http://swaasad.cloudapp.net"  in this space provided next to add button  <br />
         6. Uncheck "Require server verification" checkbox  <br />
         7. click on add button. <br />
         8. Click on close button.
</div>

