                    <div class="OTC/PharmaBlock chemistDay">
            <div class="chemistheader" style="" onclick="fnTableShowHide('tbl_Followup_Cv','spnFollowup_Cv')">
                <div class="collapse" id="spnFollowup_Cv" style="padding: 5px;text-align:left !important;font-family:Segoe UI;padding-left:15px;font-weight:bold;float:left">
                <div style="float:left">Follow-Ups</div> 
                </div> 
                 <div class="helpIconmargin">
                        <img src="~/Images/HelpIcon.png" onclick="fnHelp('DCR_CHEVISIT','INPUT')" />
                     </div>
            </div>
                        <div style="padding: 1px;">
                    <table id="tbl_Followup_Cv" class="cvtable"">
                        <tr>
                            <td class="dcr_product_header_Cv" style="text-align:left;width: 29px;">
                                
                            </td>
                            <td style="width: 57%;">
                              Tasks
                            </td>
                            <td class="dcr_product_header_Cv" style="text-align:left;padding-left:19px">Due Date</td>
                            <td style="width:4px;"></td>
                        </tr>
                    </table>
                </div>
        
            </div>

<script src="@Url.Content("~/Areas/HiDoctor_Activity/Scripts/HD/DCRV4/DCRV4ChemistFollowUps.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        debugger;
        try {

        }
        catch (ex) {
        }
    });
</script>