@{
    Layout = null;
}

<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<div>
    <div id="dvTree" style="width: 20%; float: left">
        <div id="tree" style="float: left; height: 530px; width: 100%">
        </div>
    </div>
    <div style="width: 80%; float: left" id="divMain">
        <div style="display: none;" id="divToggle">
            <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                onclick="fnToggleTree()">Hide Tree</span> | <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleInput()">Hide Input</span> | <span id="spnReportQueueToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleReportQueue('ComprehensiveAnalysisReport')">Show Report Queue Status</span>
            <div class="helpIconright">
                <img src="~/Images/HelpIcon.png" onclick="fnHelp('COMP_ANAL_REPORT','PAGE')" />
            </div>
        </div>
        <div id="divInput" style="display: none; padding: 5px">
            <table>
                <tr>
                    <td>Start date
                    </td>
                    <td>
                        <input type="text" id="txtFromDate" class='datepicker' />
                    </td>
                </tr>

                <tr>
                    <td>End date
                    </td>
                    <td>
                        <input type="text" id="txtToDate" class='datepicker' />
                        <input type="hidden" id="hdnUserCode" />
                    </td>
                </tr>
                <tr>
                    <td>Report Type
                    </td>
                    <td>
                        <select id="ddlReportType">
                            <option value="VISIT" selected="selected">Doctor Visit based</option>
                            <option value="MET">Doctor Met based</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="btnShow" name="Show" value="Show Report" onclick="fnRequestComprehensiveAnalysisReport();" />
                    </td>
                </tr>
            </table>
            <div id="dvloading" style="display: none">
                <img src="../../Content/images/loader1.gif" />
            </div>
            <hr />
        </div>
        <div id="dvRptQueuePanel" style="padding:10px; display:none">
            <div id="dvAsynMsg" style="display:none"></div>
            <div>
                <input type="button" class="btn btn-primary" value="Refresh" onclick="fnRefreshReportQueueStatus('ComprehensiveAnalysisReport');" /><br />
            </div>
            <div>
                <div id="dvReportQueue"></div>
            </div>
            <br />
        </div>
        <div id="dvRptPanel">
            <form action="../HiDoctor_Reports/AysncReports/DownloadAsyncReportExcel" method="post" enctype="multipart/form-data" target="ifrmExcel">
                <div id="dvExcelPrint" style='float: left; width: 100%; display: none;'>
                    <div style="float: right; width: 65px; padding: 3px; background-color: #efefef; border: 1px solid #d3d3d3; margin-bottom: 10px; margin-right: 4%;">
                        <div id='dvPrint' onclick='fnPrint("dvAsynReport","ifrmCompPrint");' title='Print Table' class='TableTools_button' style='background: url(../Content/DataTable/media/images/print.png) no-repeat center center; border: 1px solid #f0f0f0; height: 30px; width: 30px; cursor: pointer; float: right;'></div>
                        <input type="submit" id="CA_Excel" value="" />
                    </div>
                    @Html.Hidden("ReportTransactionID")
                    @Html.Hidden("ReportName")
                </div>
            </form>   
            <div id="dvAsynReport"></div>
        </div>
    </div>
</div>
<iframe id="ifrmCompPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divCompPrint" style="display: none;"></div>

<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/AsyncReportGeneric.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
@*<script src="../../Areas/HiDoctor_Reports/Scripts/HD/AsyncReports.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>*@
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ArchiveReport.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            numberOfMonths: 2
            //showButtonPanel: true
        });
    });

    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            //  fnBindUserTree("tree");
            fnBindUserTreeWithCheckBoxDoubleClick("tree");
            $("#dvTree").show();
            $('#divInput').show();
            $('#divToggle').show();
            $("#spnTreeToggle").html('Hide Tree');
            $("#spnInputToggle").html("Hide Input");
            //  $('#divToggle').hide();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnUserTreeNodeClick(node) {
        $("#divCompReport").html("");
        $('#hdnUserCode').val(node.data.key);
        $('#userCode').val(node.data.key);
        $('#divInput').show();
        $("#spnTreeToggle").html('Show Tree');
        $('#divToggle').show();
        $("#dvTree").hide();
        $("#divMain").css('width', '100%');
    }

    function fnUserTreePostInit() {

    }

    var selKeys = "";
    function fnUserTreeSelect(select, node) {
        var lastSelectedNode = node.data.key;
        $('#hdnUserCode').val(lastSelectedNode);
        selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
            return node.data.key;
        });
    }

</script>
