@{
    ViewBag.Title = "Doctor Chemist Tabular";
    Layout = null;
}

<link href="~/Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<div id="dvDocCheMetRpt">
    <div class="col-lg-12" style="min-height: 450px; overflow: auto;">
        <div id="dvTree" class="col-sm-3">
            <div style="clear: both"></div>
            <div id="dvusertree" style="height: 630px;">
                <div class="dv-controls-load">
                    <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                    Loading tree
                </div>
            </div>
            <input type="hidden" value="" id="hdnUserCode" />
            <div style="clear: both"></div>
        </div>
        <div id="dvdata" class="col-sm-9">
            <div>
                <span onclick="fnToggleTree()" id="lnkTree" class="shInput" style="margin-right: 3px">Hide Tree</span>
                |
                <span onclick="fnToggleInputs()" id="lnkInput" class="shInput" style="margin-left: 5px">Hide Input</span>
            </div>
            <div style="clear: both"></div>
<div style="width:110%">
            <div id="rptInputs" class="col-lg-12 dvRptInput">
                <div class="col-lg-12">
                    <div class="col-lg-1">&nbsp;</div>
                    <div class="col-lg-7">
                        <input type="radio" value="1" id="optSinglday" name="rptInputOptions" checked="checked" onclick="fnChangeInputs()" />
                        <label for="optSinglday">Single Day</label>
                        <input type="radio" value="2" id="optMonthYear" name="rptInputOptions" onclick="fnChangeInputs()" />
                        <label for="optMonthYear">Month-Year</label>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div id="dvSingleDate">
                    <div class="col-lg-1" style="white-space: nowrap">DCR Date</div>
                    <div class="col-lg-7">
                        <input type="text" id="txtDate" class="datepicker" />
                    </div>
                    <div style="float: right">
                        <img src='../Images/HelpIcon.png' onclick="fnHelp('DOCTOR_CHEMIST_MET','PAGE_HEADER')" />
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div id="dvMonthPicker" style="display: none">
                    <div class="col-lg-1" style="white-space: nowrap">
                        Month & Year
                    </div>
                    <div class="col-lg-7">
                        <input type="text" id="txtMonthPicker" class="monthpicker" />
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-1">&nbsp;</div>
                    <div class="col-lg-7">
                        <input type="radio" value="1" id="optViewInScreen" name="rptOptions" checked="checked" />
                        <label for="optViewInScreen">View in-screen</label>
                        <input type="radio" value="2" id="optExportToExcel" name="rptOptions" />
                        <label for="optExportToExcel">Export to excel</label>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-1">&nbsp;</div>
                    <div class="col-lg-7">
                        <input type="button" class="btn btn-primary" value="View" onclick="GetDoctorChemistReport()" />
                        @*<input type="button" class="btn btn-primary" value="ViewMongoReport" onclick="GetDoctorChemistMongoReport()" />*@
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
</div>
            <div style="clear: both"></div>
            <div id="dvDataTable"></div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<div id="dvDoctorChemistReport" style="border: 5px solid #676A72; background: #fff; padding: 5px; font-size: 13px; display: none; margin-left: -390px; width: 90%; height: 600px; overflow: auto; left: 33%; z-index: 9999; top: 40%; margin-top: -240px; position: fixed; overflow: auto">
    <span style="float: right; cursor: pointer" onclick="$('#dvUserPerDay').empty();HideModalPopup('dvDoctorChemistReport');">X</span>
    <h2 style="font-size: 15px; border-bottom: 1px solid #efefef; color: #039">DCR Approval </h2>
    <div id="divReport" style="width: 100%"></div>
</div>




<script type="text/javascript">
    var companyCode="";
    $(document).ready(function () {

        AjaxGlobalHandler.Initiate();
        companyCode =  @Html.Raw(Json.Encode(ViewBag.CompanyCode));
        try {
            $('#dvDocCheMetRpt').block({
                message: 'Loading and Bind the tree...',
                css: { border: '1px solid #ddd' }
            });
            fnBindUserTreeWithCheckBoxDoubleClick("dvusertree")
            $("#dvTree").show();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
            $("#dvDocCheMetRpt").unblock();
        }
    });

    // Default function for toggling tree and inputs

    function fnToggleTree() {
        if ($('#dvTree').hasClass('col-sm-3')) {

            fnCloseTree();
        }
        else {

            fnOpenTree();
        }
    }

    function fnUserTreePostInit() {
        $("#dvDocCheMetRpt").unblock();
    }

    function fnOpenTree() {
        $('#lnkTree').html('Hide Tree')
        $("#dvusertree").slideDown();

        $('#dvTree').addClass('col-sm-3')

        $('#dvdata').removeClass('col-lg-12')
        $('#dvdata').addClass('col-sm-9')
    }


    function fnCloseTree() {
        $('#lnkTree').html('Show Tree')
        $("#dvusertree").slideUp();

        $('#dvTree').removeClass('col-sm-3')

        $('#dvdata').addClass('col-lg-12')
        $('#dvdata').removeClass('col-sm-9')
    }

    function fnToggleInputs() {

        if ($("#rptInputs").hasClass('col-lg-12')) {
            $('#lnkInput').html('Show Inputs')
            $("#rptInputs").hide();
            $("#rptInputs").removeClass('col-lg-12')
        }
        else {
            $('#lnkInput').html('Hide Inputs')
            $("#rptInputs").show();
            $("#rptInputs").addClass('col-lg-12');
        }
    }

    function fnUserTreeNodeClick(node) {
        fnCloseTree();
        $("#dvdata").show();

    }

    function fnChangeInputs() {
        if ($('#optSinglday').attr('checked') == 'checked') {
            $('#dvSingleDate').css('display', '');
            $('#dvMonthPicker').css('display', 'none');
        }
        else {
            $('#dvSingleDate').css('display', 'none');
            $('#dvMonthPicker').css('display', '');
        }
    }
    // Default function for toggling tree and inputs
    var selKeys = "";
    function fnUserTreeSelect(select, node) {
        var lastSelectedNode = node.data.key;
        selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
            return node.data.key;
        });
    }
    function fnValidate() {
        var errMsg = "";
        if ($('#optSinglday').attr('checked') == 'checked') {
            if ($.trim($('#txtDate').val()).length == 0) {
                errMsg += "Please select Date. <br />"
            }
            if (!fnValidateDateFormate($('#txtDate'), "Date")) {
                $("#dvDocCheMetRpt").unblock();
                return false;
            }
        }
        else {
            if ($.trim($('#txtMonthPicker').val()).length == 0) {
                errMsg += "Please select the Month and Year. <br />"
            }
        }


        if (selKeys.length == 0) {
            errMsg += "Please select atleast one user. <br />"
        }


        if (errMsg.length > 0) {
            $("#dvDocCheMetRpt").unblock();
            fnMsgAlert('info', 'Doctor Chemist Met', errMsg);
            return false;
        }
        else {
            return true;
        }
    }

    $('#txtMonthPicker').monthpicker();
    $("#txtDate").datepicker({
        dateFormat: 'dd/mm/yy',
        //showButtonPanel: true
    });

    function GetDoctorChemistReport() {
        $('#dvDocCheMetRpt').block({
            message: 'Retrieve the data...Please wait.',
            css: { border: '1px solid #ddd' }
        });
        if ($('#optViewInScreen').attr('checked') == "checked") {
            GetDoctorChemistMetTabularFormat();
        }
        else if ($('#optExportToExcel').attr('checked') == "checked") {
            GetDoctorChemistMetExcelFormat();
        }
        else {

        }
    }

    // Grid Format.
    function GetDoctorChemistMetTabularFormat() {
        try {
            var sdate = '';
            var edate = '';
            if (fnValidate()) {
                if (($('#optSinglday').attr('checked') == 'checked')) {
                    sdate = $('#txtDate').val().split('/');
                    sdate = sdate[2] + '-' + sdate[1] + '-' + sdate[0];
                    edate = $('#txtDate').val().split('/');
                    edate = edate[2] + '-' + edate[1] + '-' + edate[0];
                }
                else {
                    var monArray = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
                    var month = parseInt(monArray.indexOf($('#txtMonthPicker').val().split('-')[0].toUpperCase())) + 1;
                    var year = $.trim($('#txtMonthPicker').val().split('-')[1]);
                    sdate = year + '-' + month + '-01';
                    edate = year + '-' + month + '-' + fnDaysInMonth(month, year);
                }
                GetDoctorVisitTabular(selKeys, sdate, edate, "S");
            }
        }
        catch (e) {
            $("#dvDocCheMetRpt").unblock();
        }
    }

    // Excel Format
    function GetDoctorChemistMetExcelFormat() {
        try {
            var sdate =''
            var edate = ''
            if (fnValidate()) {
                if (($('#optSinglday').attr('checked') == 'checked')) {
                    sdate = $('#txtDate').val().split('/');
                    sdate = sdate[2] + '-' + sdate[1] + '-' + sdate[0];
                    edate = $('#txtDate').val().split('/');
                    edate = edate[2] + '-' + edate[1] + '-' + edate[0];
                }
                else {
                    var monArray = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
                    var month = parseInt(monArray.indexOf($('#txtMonthPicker').val().split('-')[0].toUpperCase())) + 1;
                    var year = $.trim($('#txtMonthPicker').val().split('-')[1]);
                     sdate = year + '-' + month + '-01';
                     edate = year + '-' + month + '-' + fnDaysInMonth(month, year);
                }
                GetDoctorVisitTabular(selKeys, sdate, edate, "E");
            }
        }
        catch (e) {
            $("#dvDocCheMetRpt").unblock();
        }
    }


    function GetDoctorVisitTabular(userCodes, sdate, edate, viewFormat) {
        $.ajax({
            type: 'POST',
            data: "userCodes=" + JSON.stringify(selKeys) + "&start_Date=" + sdate + "&end_Date=" + edate + "&viewFormat=" + viewFormat,
            url: '../ReportsLevelThree/GetDoctorChemistMetHTMLFormat',
            success: function (response) {
                $('#dvDataTable').html(response);
                $("#dvDocCheMetRpt").unblock();
            },
            error: function (e) {
                $("#dvDocCheMetRpt").unblock();
            }
        });
    }
    // Grid Format Mongo.
    function GetDoctorChemistMetTabularFormatMongo() {
        try {
            var sdate = '';
            var edate = '';
            if (fnValidate()) {
                if (($('#optSinglday').attr('checked') == 'checked')) {
                    sdate = $('#txtDate').val().split('/');
                    sdate = sdate[2] + '-' + sdate[1] + '-' + sdate[0];
                    edate = $('#txtDate').val().split('/');
                    edate = edate[2] + '-' + edate[1] + '-' + edate[0];
                }
                else {
                    var monArray = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
                    var month = parseInt(monArray.indexOf($('#txtMonthPicker').val().split('-')[0].toUpperCase())) + 1;
                    var year = $.trim($('#txtMonthPicker').val().split('-')[1]);
                    sdate = year + '-' + month + '-01';
                    edate = year + '-' + month + '-' + fnDaysInMonth(month, year);
                }
                GetDoctorVisitTabularMongo(selKeys, sdate, edate);
            }
        }
        catch (e) {
            $("#dvDocCheMetRpt").unblock();
        }
    }
    function GetDoctorChemistMongoReport() {
        GetDoctorChemistMetTabularFormatMongo();
    }
    function GetDoctorVisitTabularMongo(userCodes, sdate, edate) {
        debugger;
        var url = 'http://localhost:49755/Reports/DoctorChemistMetMongoReport/' + companyCode + '/' + userCodes + '/' + sdate + '/' + edate
        window.open(url, 'Doctor Chemist Tabular', 'height=1024,width=768,toolbar=no,directories=no,status=no');
    }

    function fnDaysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }

</script>

