@{
    ViewBag.Title = "SpecialityWiseDoctorCategoryCount";
}

<link href="~/Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<style>
    .dvHeader {
        font-weight: bold;
        font-size: large;
        border-bottom: 1px solid #01B7E9;
        background: #efefef;
        padding: 10px;
        width: 100%;
    }

    .dvheader-inner {
        float: left;
        margin-right: 10px;
    }
</style>

<div id="dvSpeciality">
    <div>
        <div style="clear: both"></div>
    </div>
    <div class="col-lg-12" style="min-height: 260px; overflow: auto;">
        <div id="dvTree" class="col-sm-3">

            <div style="clear: both"></div>
            <div id="dvregionTree" style="height: 630px;">
                <div class="dv-controls-load">
                    <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                    Loading tree
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div id="dvdata" class="col-lg-9" style="display: none">
            <div>
                <span onclick="fnToggleTree()" class="shInput" id="lnkTree" style="margin-right: 3px;">Hide Tree</span>
                |
                <span onclick="fnToggleInputs()" class="shInput" id="lnkInput" style="margin-left: 5px">Hide Input</span>
            </div>
            <div style="clear: both"></div>

            <div id="rptInputs" class="col-lg-12 dvRptInput">
                <div class="col-lg-12">
                    <div>
                        <input type="hidden" id="hdnRegionCode" />
                        <input type="radio" value="1" id="optViewInScreen" name="rptOptions" checked="checked" />
                        <label for="optViewInScreen">View in-screen</label>
                        <input type="radio" value="2" id="optExportToExcel" name="rptOptions" />
                        <label for="optExportToExcel">Export to excel</label>
                        <img src='../Images/HelpIcon.png' onclick="fnHelp('CP_COVERAGE_AND_DEVIATION','PAGE_HEADER')"  style="float:right"/>
                    </div>
                    <input type="button" class="btn btn-primary" value="View" onclick="fnShowspecialitydoctorcategoryReport()" />
                </div>
            </div>
            <div style="clear: both"></div>
            <br />
            <div id="divSpecialitywiseDoctorcategoryCount">
            </div>
        </div>
        <div style="clear: both"></div>
        <div id="dvloading" style="display: none">
            <img src="../../Content/images/loader1.gif" />
        </div>
    </div>
</div>

<link href="../../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript" src="../../Areas/HiDoctor/Scripts/HD/common.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/SpecialityWiseDoctorCategoryCount.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            $('#dvSpeciality').block({
                message: 'Loading data...',
                css: { border: '1px solid #ddd' }
            });
            fnBindRegionTree("dvregionTree") //To Bind The Region Tree
            $("#dvTree").show();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvSpeciality").unblock();
            $("#dvAjaxLoad").hide();
        }
    });

    // Default function for toggling tree and inputs

    function fnToggleTree() {
        if ($('#dvTree').hasClass('col-sm-3')) {
            fnCloseTree();
        }
        else {
            fnOpenTree();
        }
    }

    function fnRegionTreePostInit() {
        $("#dvSpeciality").unblock();
    }

    function fnOpenTree() {
        $('#lnkTree').html('Hide Tree')
        $("#dvregionTree").slideDown();
        $('#dvTree').addClass('col-sm-3')
        $('#dvdata').removeClass('col-lg-12')
        $('#dvdata').addClass('col-lg-9')
    }
    function fnCloseTree() {
        $('#lnkTree').html('Show Tree')
        $("#dvregionTree").slideUp();
        $('#dvTree').removeClass('col-sm-3')
        $('#dvdata').addClass('col-lg-12')
        $('#dvdata').removeClass('col-lg-9')
    }
    function fnToggleInputs() {
        if ($("#rptInputs").hasClass('col-lg-12')) {
            $('#lnkInput').html('Show Inputs')
            $("#rptInputs").hide();
            $("#rptInputs").removeClass('col-lg-12')
        }
        else {
            $('#lnkInput').html('Hide Inputs')
            $("#rptInputs").show();
            $("#rptInputs").addClass('col-lg-12');
        }
    }

    function fnRegionTreeNodeClick(node) {
        $('#hdnRegionCode').val(node.data.key);
        fnCloseTree();
        $("#dvdata").show();
        $('#divSpecialitywiseDoctorcategoryCount').html('');
    }


    function fnRegionTreeActivate(node) {
        $('#hdnRegionCode').val(node.data.key);
        fnCloseTree();
        $("#dvdata").show();
        $('#divSpecialitywiseDoctorcategoryCount').html('');
    }


    function fnRegionTreeSelect(node) {
    }
    // Default function for toggling tree and inputs
</script>



