@{
    ViewBag.Title = "PasswordLockRelease";  
    Layout = null;
}


<div>
    <div id="dvTree" style="width: 40%; float: left" class="col-lg-6 table-responsive">
        <div id="tree" style="float: left; height: 530px; width: 100%">
        </div>
    </div>
    <div style="width: 60%; float: left" id="divMain" class="col-lg-6 table-responsive">
        <div style="display: none;" id="divToggle">
            <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                onclick="fnToggleTree()">Hide Tree</span>
        </div>
        <div id="divInput" style="display: none; padding: 5px; border: 1px solid red;background-color:aliceblue">
            <table>
                <tr>
                    <lable id="lbluserstatus" style="font-size: 15px; color: green"></lable>
                    <input type="hidden" id="hdnUserCode" />
                    <lable type="hidden" id="treetitle"></lable>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <input type="button" id="btnrelease" name="Show" value="Release lock and send password" onclick="fnlockRelease();" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <input type="button" id="btnsendpassword" name="Show" value="Send password now" onclick="fnSendpassword();" />
                    </td>
                </tr>
            </table>
            <div id="dvloading" style="display: none">
                <img src="../../Content/images/loading.gif" />
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<script type="text/javascript" src="../../Areas/HiDoctor_Master/Scripts/HD_Master/Passwordlock.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script type="text/javascript" src="../../Areas/HiDoctor/Scripts/HD/common.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script type="text/javascript">

    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {

            var userCod = @Html.Raw(Json.Encode(ViewBag.UserCode)); 
            fnBindUserTree("tree",userCod);
            $("#dvTree").show();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }

    });


</script>
