@{
    ViewBag.Title = "DCR Freeze Release Screen";
    Layout = null;
}

<style>

.borderShadow {
        border-radius: 3px;
        box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
        -webkit-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
    }


    #tblDCRApproval {
        border: 1px solid #76787A;
        background-color: darkgray;
        font-size: 16px;
        font-weight: 100;
    }
    
.table thead {
        background:  #5E87B0 !important;
        color: #fff;
        text-align: left;
    }
    #divUserInfo ul li {
        list-style: none;
        list-style-type: none;
        padding-left: 5%;
        padding-top: 1%;
        font-size: 13px;
        cursor: pointer;
    }

    #divUserInfo a :hover {
        text-decoration: underline;
    }

    #divUserInfo {
        height: 595px !important;
        overflow: scroll;
        border-left: 2px solid #ddd;
        border-top: 1px solid #ddd;
    }

    #divUserHeader {
        font-size: 13px;
        font-weight: bold;
        text-decoration: double;
    }

    #dvUserPopup {
        padding-top: 5px;
        padding-right: 10px;
        display: none;
        width: 537px;
        height: 600px;
        border: 4px solid rgb(204, 204, 204);
        overflow: scroll;
        background-color: rgb(255, 255, 255);
        left: 46%;
        z-index: 9999;
        top: 50%;
        margin-top: -293.5px;
        margin-left: -191px;
        position: fixed;
        cursor: pointer;
    }


    .dataTables_wrapper {
        min-height: 5px;
        padding-bottom: 5px;
    }

    table.display thead th {
        line-height: 14px;
        background: url(/Areas/HiDoctor_Activity/Content/images/Web/hd/thead.png) no-repeat;
    }

    #divMain {
        background: #EEEEEE !important;
    }

    .box {
        box-shadow: 1px 1px 1px rgb(204, 204, 204);
    }

    .hyperlink {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    .accHeaderTable {
        width: 99%;
        margin-bottom: 5px;
    }

    .accDocDetail, .DocDetailProduct {
        width: 98%;
        border: 1px solid #666666;
        margin: 5px;
    }


        .accDocDetail thead, .DocDetailProduct thead {
            background: #888888;
            color: #fff;
            padding: 3px;
            text-align: left;
        }


        .accDocDetail td, .DocDetailProduct td {
            border-right: 1px solid #666666;
            border-top: 1px solid #666666;
            padding: 3px;
        }

    /****Added for loading image*/
    #modal {
        z-index: 2147483700!important;
    }
    
    .clsLegend {
        font-weight: bold;
    }
      .e-grid .e-groupdroparea {
        background-color: #0072c6 !important;
        color: white !important;
        margin-top: 15px !important;
        font-weight: bold !important;
    }

    .e-headercelldiv {
        font-size: 14px !important;
        color: black !important;
        margin-top: 3px !important;
    }
    .sorting
    {
        background:none !important;
    }
    .dataTables_info, .dataTables_paginate
     {
        margin-top: -1em;
     }
 
</style>
<link href="../Areas/HiDoctor_Reports/Content/Reports.css" rel="stylesheet" />
<div id="dvDcrFreeze">
    <div>
        <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/gr.png" id="imggr" style="display: none; cursor: pointer"
            onclick="DcrFreeze.fnOpenTree()" />
        <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/less.png" id="imgless" onclick="DcrFreeze.fnCloseTree()"
            style="cursor: pointer" />
        <span>Show / Hide Tree</span>
    </div>
    <div id="divPendingApproval" style="display: none; margin-left: 1%; padding: 2%">
        <span id="PendingApproval" style="color: red; background-color: white; font-weight: bold"></span>
    </div>
    <div id="dvMonth" class="col-lg-3 table-responsive" class="treebg">
        <div class="col-lg-12">
            <table id="tblDCRApproval" class="table table-bordered">
                <tr>
                    <td>
                        <span style="float: right">Month/Year</span>
                    </td>
                    <td>
                        <input id="txtMonth" style="width: 70%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="float: right;">Division</span>
                    </td>
                    <td>
                        <select id="ddlDivision" style="width: 76%;"></select>
                    </td>

                </tr>
                 <tr>
                    <td><span style="float: right"></span></td>
                    <td style="float: right">
                        <button id="btnGo" type="button" class="btn btn-primary">Go</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tree" style="height: 530px;" class="col-lg-12">
            @*<div id="divIndication" style="display: none;">The list does not include users who have not entered DCR for the chosen month, mode and status filters.</div>*@
            <div class="dv-controls-load" id="divloading" style="display: none;">
                <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                Loading users
            </div>
            @*<div id="divUserHeader" style="display: none;">
                User Information : <a onclick="fnShowUserTree();" style="cursor: pointer;" title="Show Hierarchy for reference purpose only, not mandatory to click">Show user hierarchy</a>
            </div>*@
            <div id="divUserInfo" style="display: none;">
            </div>
        </div>
    </div>
    <div id="dvloading" style="display: none">
        <img src="../../Content/images/loading.gif" />
    </div>
    <div id="dataDiv" class="col-lg-8 table-responsive" style="margin-top:-21px;">
        <div id="dvLegend">            
        </div>
        <br />
        <div id="headerdata"></div>
        <div id="dvDCRFreezeRelease">
                     
        </div>
        <div style="clear: both">
        </div>
        <br />
       
    </div>

</div>

<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js"></script>
<script src="../../Areas/HiDoctor_Master/Scripts/HD_Master/DCRFreezeReleaseApproval.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        UserCode = @Html.Raw(Json.Encode(ViewBag.UserCode)); 
     //   $('#divPageHeader').html("DCR Freeze Release Screen");
        $('#dvloadingDCR').hide();
        AjaxGlobalHandler.Initiate();
        try {
            debugger;
            DcrFreeze.defaults.curdate = curdate;
            DcrFreeze.initialize();
            $("#dvAjaxLoad").hide();
        } catch (e) {
            $("#dvAjaxLoad").hide();
        }
    });
</script>
