@{
    ViewBag.Title = "UserLeaveTypeBalance";
    Layout = null;
}

<style>
    .mandatory {
        color: red;
    }
</style>

<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js" type="text/javascript"></script>

<div class="col-lg-12 form-group" id="dvUserLeaveType">
    <div id="dvTabs">
        <ul class="nav nav-pills">
            @*<li><a href="#dvLeaveTypeInsert">User Leave Type Mapping</a></li>*@
        </ul>

        <div class="row col-lg-12 form-group clearfix">
            <div class="col-xs-3">
                <table id="tblDivLeaveType" class="table table-bordered" style="margin-top:5px">
                    <tr>
                        <td>
                            <label style="float: right">User Type</label>
                        </td>
                        <td>
                            @*<select id="ddlDivisionName" class="input-medium form-control"></select>*@
                            <select id="BindUserType" onchange="fnGetUserCodes();" class="form-control">
                                <option value="">-Select User-</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="float: right">Calendar Year</label>
                        </td>
                        <td>
                            @*<select id="ddlDivisionName" class="input-medium form-control"></select>*@
                            <select id="BindCalYear" onchange="fnGetLeaveTypes();" class="form-control">
                                <option value="">-Select Year-</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="float: right">Leave Type</label>
                        </td>
                        <td>
                            <select id="BindLeaveTypes" multiple="multiple">
                                @*<option value="">-Select Leave Type-</option>*@
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" class="btn btn-primary" style="margin-right: 3%;float:right;" value="Go" id="btngo" onclick="fnGetDetails('1');" />
                            <input type="button" class="btn btn-primary" style="margin-right: 3%;float:right;" value="Clear" id="btnULTypeClear" onclick="fnClearAll();" />
                        </td>
                    </tr>
                </table>

                <div style="clear: both"></div>
                <div>

                    <div id="dvusertree" style="height: 403px;overflow: auto;margin-top: 10px;">
                        <div style="clear: both"></div>
                        <div class="dv-controls-load">
                            <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                            Loading tree
                        </div>
                        <input type="hidden" value="" id="hdnUserCode" />
                    </div>
                </div>

                <div style="clear: both"></div>
                <div>
                    <button id="btnUncheck" style="display:none;margin-top: 5px;" type="button" class="btn btn-primary" onclick="fnUncheck()">Uncheck All</button>
                </div>

            </div>

            <div class="col-xs-9 form-group">
                <div>
                    <label>Enter Leave Details</label>
                </div>
                <div class="col-xs-2">
                    <label>Enter Leave Type</label>
                </div>
                <div class="col-xs-3">
                    <select id="BindAddLeaveTypes" class="form-control">
                        <option value="">-Select Leave Type-</option>
                    </select>
                </div>
                <div class ="col-xs-2">
                    <input type="text" class="datepicker form-control" id="Effective_From" placeholder="Effective From" readonly />
                </div>
                <div class="col-xs-2">
                    <input type="text" class="datepicker form-control" id="Effective_To" placeholder="Effective To" readonly />
                </div>
                <div class="col-xs-2">
                    <input type="button" class="btn btn-primary" value="Add" id="btnAdd" onclick="fnAddLeaveType();" />
                </div>
                </br></br>
                <div id="dvLeaveFilter" style="display:none;">
                    <div class="col-md-3">
                        <select id="BindUserNames" multiple="multiple"></select>
                    </div>
                    <div class="col-md-3">
                        <select id="BindLeave" multiple="multiple">
                            @*<option value="">-Select Leave Type-</option>*@
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="BindYear" class="form-control"></select>
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-primary" value="Filter" onclick="fnFilterRecords('1');" />
                    </div>
                </div>
                </br></br>
                <div id="dvLeaveGrid" style="overflow-y: scroll;height:550px;width:108%;" class="table-responsive tableFix"></div>
                </br></br>
                <div class="col-xs-3">
                    <input type="button" class="btn btn-primary" value="Update" id="btnUpdate" onclick="fnUpdateLeaveDetails();" />
                    <input type="button" class="btn btn-primary" value="Cancel" id="btnCancel" onclick="fnGetLeaveDetails('1');" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="padding:0px;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="Leave_Details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg" style="padding:0px;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="Leave_Add_Details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="../Areas/HiDoctor_Master/Scripts/HD_Master/UserLeaveTypeBalance.js"></script>
<script type="text/javascript">

    var userTypeCode = '';
    var selKeys = "";
    var entityDetails_g = "";
    var userType = "";
    var LeaveType = "";
    var userTypeforleave = "";
    var CalYear = "";
    var LeaveTypeCode = "";
    var Lapsed = "";
    var Addval1 = "";
    var Addval2 = "";
    var sum = "";
    var OpBal = "";
    var LvTkn = "";
    var LeaveBal = "";
    var TotalLeaveBal = "";
    var Usercode = "";

    $(document).ready(function () {
        $('#dvAjaxLoad').hide();
        debugger;
        fnGetuserTypes();
        fnGetYear();
        //fnGetYearForfilter();
        fnBindUserTreeWithCheckBoxDoubleClick("dvusertree");
        $('#dvLeaveGrid').hide();
        $('#dvusertree').hide();
        $('#btnUncheck').hide();
        //fnGetLeaveDetails();
        $.unblockUI();
        $("#BindLeaveTypes").multiselect("destroy").multiselect().multiselectfilter();
        $("#BindLeaveTypes").multiselect().multiselectfilter();

        $('.tableFix').on('scroll', function () {
            $('thead', this).css('transform', 'translateY(' + this.scrollTop + 'px)');
        });
        var year = new Date(curdate.split('.')[2] + '-' + curdate.split('.')[1] + '-' + curdate.split('.')[0]).getFullYear();
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            yearRange: (year - 20) + ':' + (year + 100)
        });

    });
    function fnUserTreePostInit() {
    }

    var selKeys = new Array();
    var selTitle = new Array();
    var selKeys_ls = new Array();
    function fnUserTreeSelect(select, node) {
        debugger;
        var lastSelectedNode = node.data.key;
        selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
            return node.data.key;
        });
        selKeys_ls = selKeys;

        selTitle = $.map(node.tree.getSelectedNodes(), function (node) {
            return node.data.title.split(',')[0];
        });

    }

    function fnUncheck() {
        $("#dvusertree").dynatree("getRoot").visit(function (node) {
            node.select(false);
            node.data.unselectable = false;
            node.data.hideCheckbox = false;
        });
    }

</script>