@*<script src="@Url.Content("~/Areas/HiDoctor_Activity/Scripts/Mobile/mDoctorSelection.js?v=@HiDoctor.BuildNumber.BuildNo)"></script>*@
@Scripts.Render("~/bundles/doctorselectionjs")
<script>
    var doctorEntryMode_g = "";
    var querystring = "";
    var accUsers_g="";
    var dcodes_g = "";
    var dcrDate_g="";
    var flagRCPA = "";
    var accChemistPri_g ="";
    var distance_g="";
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        $("#dcrchoosedoctorloginUserName").html(loginUserName_g);
        query= @Html.Raw(Json.Encode(ViewBag.mString));
        dcodes_g= query.split('&')[0];
        dcrDate_g= query.split('&')[1];
        accUsers_g = query.split('&')[2];
        flagRCPA = query.split('&')[3];
        distance_g = query.split('&')[6];
        doctorEntryMode_g = fnGetPrivilegeValue('RIGID_DOCTOR_ENTRY', 'YES');
        //doctorEntryMode_g = "NO";
        accChemistPri_g = fnGetPrivilegeValue('SHOW_ACCOMPANISTS_DATA', 'false');
        if (doctorEntryMode_g.toUpperCase() == "YES") {
            $('#dvspeciality').css('display', 'none');
            $('#dvFlexiDoctors').css('display', 'none');
            
        }
        fnGetDoctors();
    });
</script>

<div style="float: right; margin-right: 19px; margin-top: 5px;">
     <span id="dcrchoosedoctorloginUserName"></span>
    <a id="lnklogout" href="#" onclick="fnLogOut()">Logout</a>
</div>

<div data-role="header" data-theme="b">
    <h3>Choose Doctors Selection
    </h3>
</div>

<div data-role="content" data-theme="d">
    <a href="#"  class="ui-icon-home" data-icon="home" onclick="fnGoToMenu()">
                Menu
            </a>
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
            <label for="textinput1">
                Doctor Name(Enter first 3 letters then click Go)
            </label>
            <input name="txtDocName1" id="txtDocName1" placeholder="ABC" value="" type="text">
            <span>OR</span>
            <label for="textMDL">
                MDL Number
            </label>
            <input name="" id="txtMDL" placeholder="ABC" value="" type="text">
                 <a data-role="button" href="#page1" data-mini="true" id="btnGo" onclick="fnShowDoctors()">Go
        </a>
        </fieldset>
        <ul data-role="listview" data-divider-theme="b" data-inset="true" id="uldoctorlist">
            <li data-role="list-divider" role="heading">Doctors
            </li>
        </ul>
   
    </div>
    <div data-role="fieldcontain" id="dvFlexiDoctors">>
        <fieldset data-role="controlgroup" data-mini="true">
            <span>if not listed type here</span>
            <label for="txtFlexi">
                Doctor Name
            </label>
            <input name="" id="txtFlexi" placeholder="" value="" type="text" maxlength="50">
        </fieldset>
    </div>
    <div data-role="fieldcontain" id="dvspeciality">
        <label for="selectSpeciality">
            Speciality
        </label>
        <select name="" data-mini="true" id="selectSpeciality">
        </select>
         <a data-role="button" href="#page1" data-mini="true" id="btnGoFlexi" onclick="fnFlexiDoctors()" >Go To Doctor Visit
        </a>
    </div>
</div>

