@{
    Layout = "~/Views/Shared/_batchMobileLayOut.cshtml";
}
<link href="~/Areas/HiDoctor_Activity/Content/MTO.css" rel="stylesheet" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmCAedeD6xYJzA7BH3fbZBe36WiH98D0NfB5t3fRefdmkdXP2bnLzhCF2DKO7bG9'></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

    <style type='text/css'>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: 'Segoe UI',Helvetica,Arial,Sans-Serif;
        }
    </style>

<body>
    <div>
        <div class="col-xs-12 control-section" style="margin-top:5px">
            <div class="form-group col-xs-3">
                <label for="txtfrom">Date</label>
            </div>
            <div class="form-group col-xs-8">
                <div id="wrapper">
                    <input type="text" class="form-control" id="datepicker-1" onchange=" MTOTracking.fngetuserlatlong(SelUsrCode);">
                </div>
            </div>
        </div>

        @*<div class="col-xs-12 control-section">
            <div class="form-group col-xs-3">
                <label for="txtto">To</label>
            </div>
            <div class="form-group col-xs-8">
                <div id="wrapper">
                    <input type="text" class="form-control" id="datepicker-2" onchange=" MTOTracking.fngetuserlatlong(SelUsrCode);">
                </div>
            </div>
        </div>*@
        @*<button type="button" class="" onclick="fnShowMap()">show Map</button>*@
        <br>
        <div id='myMap' style='width: 100vw; height: 100vh;margin-top: 80px;'></div>
    </div>
  

</body>
<script src="~/Areas/HiDoctor_Activity/Scripts/HD/MTOTracking.js?v=@DateTime.Now.Ticks"></script>
<script>
    var map;
    var subDomainName = '';
    var CompanyId='';
    var SelUsrCode='';
    var SelUsrName='';
    var LoggedUserCode='';
    var LID='';
    var from='';
    var to='';
    var locdata=[];
    $(document).ready(function(){
        subDomainName=@Html.Raw(Json.Encode(ViewBag.subDomainName));
        CompanyId=@Html.Raw(Json.Encode(ViewBag.CompanyId));
        SelUsrCode=@Html.Raw(Json.Encode(ViewBag.SelUserCode));
        SelUsrName=@Html.Raw(Json.Encode(ViewBag.SelUserName));
        LoggedUserCode=@Html.Raw(Json.Encode(ViewBag.LoggedUserCode));
        LID=@Html.Raw(Json.Encode(ViewBag.LID));
        $( "#datepicker-1" ).datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate:0,
        });
        $( "#datepicker-2" ).datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate:0,
        });
        var today = new Date();
        var prior = new Date(new Date().setDate(today.getDate() - 30));
        var datefrom=("0" + prior.getDate()).slice(-2) + '/' +("0" + (prior.getMonth() + 1)).slice(-2) + '/' + prior.getFullYear();
        var dateto=("0" + today.getDate()).slice(-2) + '/' +("0" + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear();
        $('#datepicker-1').val(dateto);
        $('#datepicker-2').val(dateto);
        MTOTracking.fngetuserlatlong(SelUsrCode);
    });
    function fnShowMap(data){
        console.log(data);
        debugger
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
        if(data.length >0){
            debugger
            for (var i = 0; i < data.length; i++) {
                var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(data[i].Latitude, data[i].Longitude), { color: 'green' });
                var infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(data[i].Latitude, data[i].Longitude), { title:  'Activity',
                    description: data[i].Activity, visible: false });
                infobox.setMap(map);
                Microsoft.Maps.Events.addHandler(pushpin, 'click', function () {
                    infobox.setOptions({ visible: true });
                });
                map.entities.push(pushpin);
                var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(data[i].outLatitude, data[i].outLongitude), { color: 'red' });
                var infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(data[i].outLatitude, data[i].outLongitude), { title: 'Activity',
                    description: data[i].Activity, visible: false });
                infobox.setMap(map);
                Microsoft.Maps.Events.addHandler(pushpin, 'click', function () {
                    infobox.setOptions({ visible: true });
                });
                map.entities.push(pushpin);
            }
        }
        //var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(9.925201, 78.119774), { color: 'red' });
        //map.entities.push(pushpin);
    }
    function fnuserstatus()
    {
        var result='';
        $.ajax({
            type: 'POST',
            data: 'subDomainName=' + subDomainName + "&CompanyId=" + CompanyId + "&Usercode=" +LoggedUserCode,
            url: '../../HiDoctor_Activity/MTO/GetUserStatus',
            async:false,
            success: function (res) {
                debugger;
                if(res == 1)
                    result = true;
                else
                    result = false;
            }
        })
        return result;
    }
</script>