@{
    ViewBag.Title = "RegionExceBlukUpload";
    Layout=null;
}
<link href="../../Areas/HiDoctor_Master/Content/HD_Master.css" rel="stylesheet" />
<style>
    .dvHeader {
        width: 100%;
        height: 30px;
        background-color: #0072c6;
        color: white;
        font-weight: bold;
        font-size: 13px;
        padding-left: 5px;
        padding-top: 4px;
    }

    #dvRedirect {
        font-size: 14px;
        width: 90%;
        padding-left: 10%;
    }

    #dvRules a {
        font-weight: bold;
        font-size: 15px;
    }

    #dvUserExcelMain {
        border-bottom: 1px solid #0072c6;
        border-right: 1px solid #0072c6;
        border-left: 1px solid #0072c6;
        min-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #dvRules {
        width: 48%;
        float: left;
        border-right: 1px solid #efefef;
        padding-left: 1%;
    }

    #ifrmExcel {
        width: 100%;
        padding: 2%;
    }

    #dvFrame {
        width: 97%;
        height: 75px;
        padding-top: 5%;
        padding-left: 3%;
    }
</style>
<form action="../HiDoctor_Master/Organogram/UploadedRegionExcel" onsubmit="return fnValidateUploadedFile()" method="post" enctype="multipart/form-data" target="ifrmExcel">
    <div class="container" id="dvUserExcelMain">
        <div class="dvHeader">
            Region Master - Excel Upload
        </div>
        <div style="width: 100%; padding: 5px;">
            <div style="width: 37%; float: left; padding-left: 13%;">
                <label>Step 1 : Download</label>
            </div>
            <div style="width: 50%; float: left;">
                <label>Step 2 : Upload</label>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="width: 100%; padding: 5px;">
            <div id="dvRules">
                <table>
                    <tr>
                        <td>1.Please @Html.ActionLink("Download", "DownloadRegionExcelTemplate", new { }) the Region master bulk excel upload template</td>
                    </tr>
                    <tr>
                        <td>2.Do not alter the excel file structure(i.e.adding or removing the column)
                        </td>
                    </tr>
                    <tr>
                        <td>3.Do not rename the excel file name and the sheet name
                        </td>
                    </tr>
                    <tr>
                        <td>4.Do not rename the columns
                        </td>
                    </tr>
                    <tr>
                        <td>5.Click the “Choose/Browse file” button to get the file
                        </td>
                    </tr>
                    <tr>
                        <td>6.Click the upload button to upload the data
                        </td>
                    </tr>
                    <tr>
                        <td>7. Below mentioned fields are mandatory <span class="Mandatory">*</span>
                            <div style="width: 70%; padding-left: 20%;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>1.Region Name</td>
                                    </tr>
                                    <tr>
                                        <td>2.Region_Type_Name</td>
                                    </tr>
                                    <tr>
                                        <td>3.Under_Region_Name</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8.Please do not modify the Row_No column values.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11.Please @Html.ActionLink("Download", "DownloadMasterList", new { }) the Master List for reference
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 49%; float: left;">
                <div style="width: 90%; padding-left: 10%;">
                    <input type="file" id="fileUpload" name="fileUpload" accept=".xlsx" />
                    <br /><br />
                    <input type="submit" id="btnUp" value="Upload" class="btn small primary" />
                </div>
                <div id="dvFrame">
                    <iframe name="ifrmExcel" style="width: 100%;"></iframe>
                </div>
                <div id="dvRedirect">
                    <br />
                    <a href="#" id="lnkBP" style="display: none" onclick="fnRedirectToBP('REGION_UPLOAD');">>>Go to Batch processing</a>
                </div>

                <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        $("#dvAjaxLoad").hide();
    });

    function fnRedirectToBP(page) {
        $('#main').load('../BatchProcessing/Index?bpType=' + page);
    }

    function fnValidateUploadedFile() {
        $("#dvMsgSuccess").hide();
        $("#dvMsgError").hide();
        var fileName = $('#fileUpload').val();
        if (fileName.length == 0) {
            fnMsgAlert('info', 'Info', 'Please select any excel file to upload');
            return false;
        }
        else {
            var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
            if (ext == "xlsx") {
                return true;
            }
            else {
                fnMsgAlert('info', 'Info', 'Please select xlsx file only');
                return false;
            }
        }
    }
</script>
