@{
    ViewBag.Title = "FormControl";
    Layout = null;
}
<style>
    .panel-heading {
        background-color: #c1ecc0 !important;
    }
</style>
<link href="../Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<script src="../../Areas/HiDoctor_Master/Scripts/HD_Master/FromControls.js?v=@HiDoctor.BuildNumber.BuildNo"></script>

<div class="panel panel-default" id="" style="width: 20%; margin-top: 1%; float: left">
    <div class="panel-heading">
        <div id="divheader">Form Names</div>
    </div>
    <div id="divFormHeader" style="font-weight: bold;padding: 5px;margin-left: 3%;margin-top: 2%;">Please Select Any One Form Name</div>
    <div id="" class="panel-body" style="padding: 1px !important;">
        <div class="col-xs-6 col-sm-6 cusPanel panel-body" style="width: 100%;" id="divFormMaster">
        </div>
    </div>
</div>
<div class="panel panel-default" id="" style="width: 79%; margin-left: 16%; margin-top: 1%; margin-left: 1%; float: left;">
    <div class="panel-heading">
        <div id="">Form Detail</div>
    </div>
    <div class="cusPanel panel-body" style="padding: 1px !important;" id="divFormControl">
        <div id="divCusName" style="width: 25%;margin-left: 5%;margin-top: 10px">
            Here , Form Will Be display
        </div>
        <div style="padding: 20px; margin-left: 94%;">
            <input type="button" data='2_0' name="name" value="Back" id="btnBack" class="btn btn-info" style="display: none;" onclick="fnShowPanel(this);" />
        </div>
        <form action="/" method="post" onsubmit="return FormValues.SaveFormData();" id="userForm" style="display: none;">
            <div style="padding-bottom: 25px; margin-bottom: 3%;">
                <div style="float: left; margin-left: 10px;">Form Name : </div>
                <div style="float: left; width: 30%; margin-left: 10px;" id="">
                    <input type="text" name="name" value=" " disabled="disabled" class="form-control" id="txtFormName" style="width: 80%;" required />
                </div>
                <div style="width: 13%; float: left;">Form Prefix Name : </div>
                <div style="float: left; width: 43%;">
                    <input type="text" name="name" value=" " disabled="disabled" class="form-control" id="txtFormCustomname" style="width: 50%;" required />
                </div>
            </div>
            <div style="padding:1%;">
                <div class="TableTools"></div>
                <div id="usertable">
                    <table id="tblUserForm" style="width:100%;" class="table table-bordered">
                        <thead style="display: none;">
                            <tr>
                                <th style="width: 4%; display: none;">S.No</th>
                                <th style="width: 20%;">label Name</th>
                                <th style="width: 30%;">Control Values</th>
                                <th style="width: 4%; display: none;">S.No</th>
                                <th style="width: 20%;">label Name</th>
                                <th style="width: 30%;">Control Values</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="text-align: center;" id="btn">
                <input type="submit" name="name" value="Save" class="btn btn-success" />
                <input type="button" name="name" value="Clear" class="btn btn-warning" onclick="FormValues.BindFormControls();" />
            </div>
        </form>
    </div>
    <iframe id="ifrmPrint" style="height: 0px; width: 0px;"></iframe>

</div>
<script>
    var PageType = 1;
    $(document).ready(function () {
        PageType=@Html.Raw(Json.Encode(ViewBag.PageType));
        AjaxGlobalHandler.Initiate();
        FormValues.initialize();
        $("#dvAjaxLoad").hide();


    });
    function fnShowPanel(id) {
        debugger;
        var name=id.text;
        id = id.attributes.data.nodeValue;
        if (id.split('_').length > 0) {
            var form_ID = id.split('_')[1];
            FormValues.defaults.form_ID_g = form_ID;
        }
        id = id.split('_')[0];
        $("#userForm").show();
        $("#divCusName").hide();
        if (id == '1') {
            $("#txtFormName").val(name);
            //$("#divFormName").hide();
            $("#divFormControl").show();
            // $(".divFormName").show();
            //$(".divFormControl").hide();
            FormValues.BindFormControls();
            //$("#divheader").text('Form Control Definition');
            //$("#divpanel").css({ "margin-left": "" })
            //$("#divpanel").css({ "width": "" })
            //$("#btn").hide();
            //$("#txtFormCustomname").val('');

        }
        else {
            $("#divFormControl").hide();
            // $("#divFormName").show();
            //$(".divFormControl").show();
            //$(".divFormName").hide();
            //$("#divheader").text('Form Name List');

            //$("#divpanel").css({ "margin-top": "1%" })
            //$("#divpanel").css({ "margin-left": "16%" })
            //$("#divpanel").css({ "width": "71%" })

        }
    }
    function fnSaveDetails() {
        alert('hi');
        return false;
    }

</script>
