@{
    ViewBag.Title = "CategoryWiseDoctorVisitAnalysis";
    Layout = null;
}
<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />

<style>
    /*td { 
        border: 1px solid black; 
        }
          
        table { 
        border: thick solid black; width: 100%; 
        }*/
    #tblTpVsActualDocVisits td {
        border: 1px solid #efefef;
        padding: 5px;
    }

    #tblTpVsActualDocVisits th {
        border: 1px solid #efefef;
        padding: 5px;
        font-weight: bold;
    }

    #testTable {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    #tablePagination {
        background: #F1F1F1;
        font-size: 14px;
        padding: 0px 5px;
        height: 35px;
    }

    #tablePagination_paginater {
        margin-left: auto;
        margin-right: auto;
    }

    #tablePagination img {
        padding: 0px 2px;
    }

    #tablePagination_perPage {
        float: left;
    }

    #tablePagination_paginater {
        float: right;
    }
    .totaltr {
        color: #0F7B0F;
        font-size: 15px;
    }
</style>
<div style="width: 80%; float: left" id="divMain">
    <div style="display: none;" id="divToggle">
        <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
            onclick="fnToggleInput()">Hide Input</span>
        <div class="helpIconright">
            <img src="~/Images/HelpIcon.png" onclick="fnHelp('RVSV','PAGE')" />
        </div>
    </div>
    <div id="divInput" style="padding: 5px; width: 20%">
        <table style="border-bottom: 1px;">
            <tr>
                <td style="vertical-align: middle">Report Month
                </td>
                <td style="vertical-align: middle">
                    <input type="text" id="txtMonth" />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle">Group By
                </td>
                <td style="vertical-align: middle">
                    <select id="ddlGroupByRegionType">
                    </select>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle">Aggregate Details Of
                </td>
                <td style="vertical-align: middle">
                    <select id="ddlAggregateRegionType">
                    </select>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle">DCR Status
                </td>
                <td style="vertical-align: middle">
                    <input type="checkbox" name="DCRStatus" value="1">Applied<br />
                    <input type="checkbox" name="DCRStatus" value="2" checked="checked">Approved<br />
                    <input type="checkbox" name="DCRStatus" value="0">Unapproved<br />
                    <input type="checkbox" name="DCRStatus" value="0^1^2">ALL<br />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle" colspan="2">
                    <input type="button" value="Show Report" onclick="fnCategoryWiseDoctorVisitAnalysis();" />
                    <a id="aURL" target="_blank"></a>
                </td>
            </tr>
        </table>
        <div id="dvloading" style="display: none">
            <img src="../../Content/images/loader1.gif" />
        </div>
    </div>
    <div class="helpIconright" id="dvTblHelpIcon" style="display:none">
        <img src="~/Images/HelpIcon.png" onclick="fnHelp('RVSV','TABLE')" />
    </div>
    <div id="divReport" style="width: 80%">
    </div>
</div>



<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/CategoryWiseDrVisitAnalysis.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>

<script type="text/javascript">

    $(function () {
        $('#txtMonth').monthpicker();

    });

    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {

            $('#divReport').html("");
            $('#divInput').show();
            $('#divToggle').show();
            fnLoadRegionTypes();
            $("#dvAjaxLoad").hide();
            //$('table').tablePagination({});
        }
        catch (err) {
        }
    });
</script>
