@{
    ViewBag.Title = "DoctorVisitAnalysisSpecialityWiseReport";
    Layout = null;
}

<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<style type="text/css">
    .headerTableUser {
        width: 100%;
    }

        .headerTableUser tr td {
            border-bottom: 1px dotted #d3d3d3;
        }

    #dvDrscountPopUp, #dvFreqAchievPopUp {
        max-height: 450px;
        overflow: auto;
    }

    .TableTools_xls {
        display: none !important;
    }

    .simple_overlay {
        width: 900px !important;
    }
</style>

<div>
    <div id="dvTree" style="width: 20%; float: left">
        <div id="tree" style="float: left; height: 530px; width: 100%">
        </div>
    </div>
    <div style="width: 80%; float: left" id="divMain">
        <div style="display: none;" id="divToggle">
            <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                onclick="fnToggleTree()">Hide Tree</span> | <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleInput()">Hide Input</span>
        </div>

        <div id="divInput" style="display: none; padding: 5px">
            <table>
                <tr class="trHeight">
                    <td>Month
                    </td>
                    <td>
                        <input type="text" id="txtMonth" class='datepicker' />
                        <input type="hidden" id="hdnUserCode" />
                    </td>
                </tr>
                <tr class="trHeight">
                    <td>Mode
                    </td>
                    <td>
                        <input type="radio" value="S" name="mode" />
                        <label for="S">
                            Self</label>
                        <input type="radio" id="rdTeam" value="T" name="mode" />
                        <label for="T">
                            Team</label>
                    </td>
                </tr>
                <tr class="trHeight">
                    <td></td>
                    <td>
                        <input type="button" id="btnShow" name="Show" value="Submit" onclick="fnOpenDoctorVisitAnalysisSpecialityWise();" />
                    </td>
                </tr>
            </table>
            <hr />
            <div id="dvloading" style="display: none">
                <img src="../../Content/images/loader1.gif" />
            </div>
        </div>

        <div id="divReport">
        </div>
    </div>
</div>

<div class="simple_overlay" id="dvDrsCountOverLay">
    <div class="popUpTitle" style="height: 45px;">
        <span>Doctors Count</span>
    </div>
    <br />
    <div id="dvDrscountPopUp" style="float: left; width: 98%; padding: 5px;">
    </div>
</div>

<div class="simple_overlay" id="dvFreqAchievOverLay">
    <div class="popUpTitle" style="height: 45px;">
        <span>Frequency Achieved Doctors Visit</span>
    </div>

    <br />
    <div id="dvFreqAchievPopUp" style="float: left; width: 98%; padding: 5px;">
    </div>
</div>

<iframe id="ifrmPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divPrint" style="display: none;"></div>

<iframe id="ifrmPrintDrsCount" style="height: 0px; width: 0px;"></iframe>
<div id="divPrintDrsCount" style="display: none;"></div>

<iframe id="ifrmPrintFreq" style="height: 0px; width: 0px;"></iframe>
<div id="divPrintFreq" style="display: none;"></div>


<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/DoctorVisitAnalysis.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#txtMonth').monthpicker();
    });

    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            $("#dvTree").show();
            var dvTree = $("#tree");
            fnBindUserTree("tree");
            $('#divInput').hide();
            $('#divReport').hide();
            $('#divToggle').hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnUserTreeNodeClick(node) {
        $('#hdnUserCode').val(node.data.key);
        $('#divInput').show();
        $("#dvTree").hide();
        $("#divMain").css('width', '100%');
        $("#spnTreeToggle").html('Show Tree');
        $('#divToggle').show();
        $('#divReport').hide();
        $("input:radio[name=mode][value=S]").attr('checked', 'checked');
        if (node.childList == null) {
            $("#rdTeam").attr('disabled', 'disabled');
        }
        else {
            $("#rdTeam").removeAttr('disabled');
        }
    }

    function fnUserTreePostInit() {
    }
    $("#dvDrsCountOverLay").overlay().load();
    $("#dvFreqAchievOverLay").overlay().load();
</script>
