@{
    ViewBag.Title = "RCPADetailed";
    Layout = null;
}
<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="../../Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<link href="../../Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />

<style>
    tfoot {
        display: table-footer-group !important;
    }
</style>

<div id="dvDailycallstatus">
    <div>
        <div style="clear: both"></div>
    </div>
    <div class="col-lg-12" style="min-height: 260px;">
        <div class='col-xs-3 leftNav' id='leftNav'>
            <div id="regiontree" style="float: left; height: auto; width: 100%">
                <div class="dv-controls-load">
                    <img src="../Areas/HiDoctor_Activity/Content/images/Web/hd/load.gif" />
                    Loading tree
                </div>
            </div>
            <span id="spnTreeResize" onclick="fnRegionTreeResize(this);"><i class="fa fa-chevron-circle-right fa-lg"></i></span>
            <div style="width: 1px;"></div>
        </div>

        <div class='col-xs-9 rghtInputandRpt' style="float: left" id="divMain">
            <div style="display: none;" id="divToggle">
                <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleTree()">Hide Tree</span> | <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                        onclick="fnToggleInput()">Hide Input</span>
            </div>
            <div style="clear: both"></div>

            <div id="divInput" style="display: none; padding: 5px;" class="dvRptInput">
                <div style="float: right">
                    <img src='../Images/HelpIcon.png' onclick="fnHelp('DAILY_CALL_STATUS_REPORT','PAGE_HEADER')" />
                </div>
                <div style="clear: both"></div>
                <div class="col-lg-9">
                    <div class="col-lg-3">
                        Start Date
                    </div>
                    <div class="col-lg-5">
                        <input type="text" id="txtFromDate" class='datepicker form-control' />
                        <input type="hidden" id="hdnRegionCode" />
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="col-lg-9">
                    <div class="col-lg-3">
                        End Date
                    </div>
                    <div class="col-lg-5">
                        <input type="text" id="txtToDate" class='datepicker form-control' />
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="col-lg-9">
                    <div class="col-lg-3">
                        Products Name
                    </div>
                    <div class="col-lg-3">
                        <select id="ddlProductName" multiple="multiple" style="width: 342px;"></select>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="col-lg-9">
                    <div class="col-lg-3">
                        DCR Status:
                    </div>
                    <div class="col-lg-6">
                        <input type="checkbox" name="DCRStatus" value="1">Applied
                        <input type="checkbox" name="DCRStatus" value="2" checked="checked">Approved                                         
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="col-lg-12">
                    <div style="margin-left: 20%;">
                        <input type="radio" value="1" id="optViewInScreen" name="rptOptions" checked="checked" />
                        <label for="optViewInScreen">View in-screen</label>
                        <input type="radio" value="2" id="optExportToExcel" name="rptOptions" />
                        <label for="optExportToExcel">Export to excel</label>
                    </div>
                    <input type="button" style="margin-left: 20%;" class="btn btn-primary" id="btnShow" value="Show Report" onclick="fnRCPADetailedReport(1, 0, 0);" />
                </div>
            </div>
            <div style="clear: both"></div>
            <br />
            <div id="divUserRetailsforRCPA" style="width: 100%;">
            </div>
            <br />
            <div id="divReport" style="width: 100%;">
            </div>           
        </div>
        <div style="clear: both"></div>
        <div id="dvloading" style="display: none">
            <img src="../../Content/images/loader1.gif" />
        </div>
    </div>
</div>


<iframe id="ifrmPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divPrint" style="display: none;"></div>
<iframe id="ifrmsubPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divsubPrint" style="display: none;"></div>

<script src="../../Areas/HiDoctor_Reports/Scripts/HD/Reports.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>

<script type="text/javascript">
    var c_g;
    var currentRegionCode_g = "";
    var treeExpandLevel = 0;
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            numberOfMonths: 2
            //showButtonPanel: true
        });
    });

    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            currentRegionCode_g = @Html.Raw(Json.Encode(ViewBag.RegionCode));             
            if(currentRegionCode_g != null && currentRegionCode_g != '')
            {               
                $("#leftNav").show();
                fnRegionTreePosition("regiontree");                                         
                fnGetRegionTreeByRegion(currentRegionCode_g, "dvRegionTree", "dvFilteredNode");       
                $('#dvPreviousNode').click(function () { fnBindRegionWithOneLevelParent(); });
                $('#txtSearchNode').bind("keypress", function (e) {
                    if (e.keyCode == 13) {                       
                        fnSearchRegions();
                        return false;
                    }
                });
                // $("#dvTree").show();
                $('#divInput').hide();
                $('#divToggle').hide();
                $("#divMain").addClass('col-xs-9'); 
                $('#ddlProductName').empty();
                $("#ddlProductName").multiselect('destroy');
                fnShowProductDetails();               
                $('#dvAjaxLoad').hide()
            }    
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }


    });
 
    function fnRegionTreePostInit() {

    }

    function fnRegionTreeNodeClick(node) {           
        $("#divReport").html(""); 
        $('#divUserRetailsforRCPA').html("");
        $('#hdnRegionCode').val(node.data.key);      
        //$('#hdnUseractivity').val(node.data.title); 
        //var regionType = $('#hdnUseractivity').val().split('-')[1];
        $('#divInput').show();
        $("#leftNav").show();       
        $('#divToggle').show();      
        $("#divMain").addClass('col-xs-9');
        $('#dvAjaxLoad').hide();
        //$('#ddlProductName').empty();
        //$("#ddlProductName").multiselect('destroy');
        //fnShowProductDetails();    
    }


    function fnRegionTreeActivate(node) {         
        $("#divReport").html(""); 
        $('#divUserRetailsforRCPA').html("");
        $('#hdnRegionCode').val(node.data.key);      
        // $('#hdnUseractivity').val(node.data.title);
        // var regionType = $('#hdnUseractivity').val().split('-')[1];
        $('#divInput').show();
        $("#leftNav").show();       
        $('#divToggle').show();      
        $("#divMain").addClass('col-xs-9');
        $('#dvAjaxLoad').hide();
        //$('#ddlProductName').empty();
        //$("#ddlProductName").multiselect('destroy');
        //fnShowProductDetails();
    }

    function fnToggleTree() {       
        if ($("#spnTreeToggle").html() == "Hide Tree") {           
            $('#regiontree').hide();  
            $('#leftNav').removeClass('col-xs-5');
            $('#leftNav').removeClass('col-xs-4');
            $('#leftNav').removeClass('col-xs-3');
            $("#divMain").removeClass('col-xs-9');
            $("#divMain").removeClass('col-xs-8');
            $("#divMain").removeClass('col-xs-7');
            $("#divMain").addClass('col-xs-12');            
            $("#spnTreeToggle").html('Show Tree');

            //Expand the Tree
            $('#spnTreeResize').attr('title', 'Click here to expand tree');
            $('#spnTreeResize').html('<i class="fa fa-chevron-circle-right fa-lg"></i>');   
        }
        else if ($("#spnTreeToggle").html() == "Show Tree") {
            $('#regiontree').show();           
            $('#leftNav').addClass('col-xs-3');
            $('#divMain').removeClass('col-xs-7'); 
            $('#divMain').removeClass('col-xs-8'); 
            $('#divMain').removeClass('col-xs-9');   
            $("#divMain").addClass('col-xs-9');  
            $("#spnTreeToggle").html('Hide Tree');
        }
    }

    function fnToggleInput() {       
        if ($("#spnInputToggle").html() == "Hide Input") {
            $("#divInput").slideUp();
            $("#spnInputToggle").html("Show Input");
        }
        else if ($("#spnInputToggle").html() == "Show Input") {
            $("#spnInputToggle").html("Hide Input");
            $("#divInput").slideDown();
        }
    }


    //Used To Resize the Tree
    function fnRegionTreeResize(obj) {         
        if (treeExpandLevel == 2) {
            treeExpandLevel = -1;
        }
        else {
            treeExpandLevel = parseInt(treeExpandLevel) + 1;
        }
        fnExpandCollapseRegionTree(treeExpandLevel, 'leftNav', 'treeNav', obj,'divMain', 'regiontree');
    }
</script>
