<style>
    #dvMsgSuccess {
        font-size: 14px;
        color: green;
        background-color: #C0F2D8;
        border: 1px solid green;
    }

    #dvMsgError {
        font-size: 14px;
        color: red;
        border: 1px solid red;
    }

    .freshwidget-theme {
        display: none;
    }
</style>
<div class="col-lg-12">
    <div id="dvMsgError" class="col-lg-12">
    </div>
    <div id="dvMsgSuccess" class="col-lg-12">
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $("#dvMsgError").html('');
        $("#dvMsgSuccess").html('');
        var ErrCode;
        ErrCode = @Html.Raw(Json.Encode(ViewBag.ErrorCode));
        if(ErrCode.split(':')[0] == "ERROR")
        {
            $("#dvMsgSuccess").hide();
            parent.document.getElementById('dvRedirect').style.display='none';
            $("#dvMsgError").html(ErrCode.split(':')[1]);
            parent.document.getElementById('Inwardupload').disabled=false;
        }
        else
        {
            $("#dvMsgError").hide();
            parent.document.getElementById('dvRedirect').style.display='';
            $("#dvMsgSuccess").html("Inward Bulk Upload excel is been uploaded successfully.Please click on the Check My Upload Status link to view the status of the upload");
            parent.document.getElementById('Inwardupload').disabled=false;
            parent.document.getElementById('fileUpload').value="";
        }
      
    });

</script>

