<div class="clsinst" style="text-align:center;margin-top:50px;">
    <div style="font-size:14px;font-weight:600">Hi !</div>
    <div style="font-size:14px;font-weight:600">Mobile browser version is outdated. Kindly download the APP version and enjoy reporting....</div>
    <br />
    <a class="clsinst" href="https://play.google.com/store/apps/details?id=com.swaas.hidoctor"> <img src="../Content/images/playstore.png" /></a>
    <a class="clsinst" href="https://itunes.apple.com/in/app/hidoctor-sfa/id1219172659?mt=8"><img src="../Content/images/appstoreicon.png" /></a>

</div>