@{
    ViewBag.Title = "Forgotpassword";

}
@*//style="display: block; left: 51%; top: 100px; width: 43%;margin-left: -347px;"*@
    <div style="width: 30%;" id="dvForgotPassword">
        <table>
            <div>
              <p id="txtalert" style="color:green;font-size:14px;font-style:italic;font-weight:bolder;white-space:nowrap;"</p>
            </div>
             <tr>
                <td colspan="2"><span style="font-size: 18px; font-weight: bold;">User Name</span>
                    @*<br />*@
                    <input type="text" placeholder="User Name" id="txtUserNamepass" style="width: 300px !important" />
                </td>
            </tr>
          @*  <br />*@
            <tr>
                <td>
                    <div style="float: right;">
                        <input type="button" class="btn primary" value="Submit" style="float: right;" id="btnLoginforgotPass" onclick="fnsubmit();" /><img src="~/Images/load.gif" style="display: none; float: right;" id="imgloginLoad" /><br />
                        <span style="color: #C63828; float: right;" id="spnError"></span>
                    </div>
                </td>
             </tr>
        </table>

    </div>


<script>
    $(document).bind('keypress', function (e) {
        e.stopPropagation();
        if (e.keyCode == 13 || e.which == 13) {
            $("#btnLoginforgotPass").click();
            e.cancelBubble = true;
            //e = null;
        }
    })
    $(document).ready(function () {

        try {

            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });


    function fnsubmit() {
        if ($('#txtUserNamepass').val() == "") {
            alert("Please Enter User Name");
        }
        else {
            
            $.ajax({
                type: "POST",
                url: "../HiDoctor_Activity/ForgotPassword/GetForgotpassword/",
                data: "UserName=" + $("#txtUserNamepass").val(),
                success: function (result) {
                    if (result == "SUCCESS") {
                        // alert("Password Sent Your Mail id");
                        $("#txtalert").html("Password Sent Your Mailid")
                    }
                    if (result == "FAILED") {
                        //alert("UserName Not Exists");
                        $("#txtalert").html("UserName Not Exists")
                    }
                    if (result == "MAIL") {
                        //alert("UserName Not Exists");
                        $("#txtalert").html("Please register Your mailId ")

                    }
                    Cancel();
                    
                },
                error: function () {
                }
            });
        }
    }


    function Cancel() {
        $('#txtUserNamepass').val("");
    }

   
</script>


