<div data-role="header">
    <h3>Forgot Password
    </h3>
</div>
<div data-role="content">
    <div class="ui-controlgroup-controls">
        <label for="txtUserName" class="ui-input-text">
            User Name
        </label>
        <input name="" id="txtUserName" placeholder="User Name" value="" type="text" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset">
    </div>
    <a data-role="button" href="#page1" class="ui-btn-left">Send me password
    </a><br />
    <a id="lnkLogin" href="" data-transition="fade" class="ui-link" onclick="fnLogin()">Click here
        </a> to Login
</div>
<div data-role="footer"></div>
