
<center class="chemistDay">

    <div class="chemistheader" style="" onclick="fnTableShowHide('tbl_Prodcuts_Chemist','spnproducts_Chemist')">
        <div class="collapse" id="spnproducts_Chemist" style="padding: 5px; text-align: left !important; font-family: Segoe UI; padding-left: 15px; font-weight: bold; float: left">
            <div style="float: left">Samples / Promotional items / Activity</div>
            @* <img src="/Images/load.gif" class="autofillLoadingIcon" id="imgloadInputs"><span id="inputsLoadingTitle" class="loadingcaption"> Sample/Promotional items autofill setting</span>*@
        </div>
        <div class="helpIconmargin">
            <img src="~/Images/HelpIcon.png" onclick="fnHelp('DCR_CHEVISIT','INPUT')" />
        </div>
    </div>

    <table id="tbl_Prodcuts_Chemist" style="" class="cvtable">
        <th>
        <td class="dcr_product_header" style="text-align: left;">
            Input Name
        </td>
        <td class="dcr_product_header" style="text-align: left;">
            Batch Number
        </td>
        <td class="dcr_product_header txtqty" style="text-align: left;>
            Quantity
        </td>
        <td class="dcr_product_header txtqty" style="text-align: left; padding-left: 23px; display: none;">
            Detailed
        </td>
        <td class="dcr_product_header_Chemist"></td>
        </th>
    </table>
</center>

