<center class="chemistDay">
<div class="chemistheader" style="" >
    <div class="collapse" id="spndetailedproducts_Chemist" style="padding: 5px; text-align: left !important; font-family: Segoe UI; padding-left: 15px; font-weight: bold; float: left"onclick="fnTableShowHide('tbl_DetailedProducts_Chemist','spndetailedproducts_Chemist')">
        <div style="float: left">Detailed Products</div>
        @*<img src="/Images/load.gif" class="autofillLoadingIcon" id="imgloaddetailed"><span id="detailedLoadingTitle"> Detailed Products autofill setting</span>*@
    </div>
    <div>
        <span style="color: blue; display: block; padding-right: 11px; margin-top: 3px;margin-left: 55%;" onclick="ChemistDetailProductDetails.fnShowDetailedProductsPopup()">Choose Detailed Products</span>
        <img class="helpIconmargin" src="~/Images/HelpIcon.png" onclick="fnHelp('DCR_CHEVISIT','DETAILPRODUCT')" />
    </div>
</div>

<table id="tbl_DetailedProducts_Chemist" style="" class="cvtable" border="0" cellspacing="0" cellpadding="0">
</table>

</center>
