<div class="chemistDay">
<div class="chemistheader" style="" onclick="fnTableShowHide('tbl_POB_Chemist','spnPOBChemist')">
    <div class="collapse" id="spnPOBChemist" style="padding: 5px; text-align: left !important; font-family: Segoe UI; padding-left: 15px; font-weight: bold; float: left">
        <div style="float: left">POB</div>
    </div>
    <div class="helpIconmargin">
        <img src="~/Images/HelpIcon.png" onclick="fnHelp('DCR_CHEVISIT','INPUT')" />
    </div>
</div>
<div style="padding: 1px;">
    <table id="tbl_POB_Chemist" style="" class="cvtable">
    </table>
</div></div>


