@{
    ViewBag.Title = "CubeViewSpecialityCategoryAnalysis";
    Layout=null;
}
<div></div>
<script type="text/javascript">
    $(document).ready(function () {
        var w = screen.width;
        var h = screen.height;
        window.open('../HiDoctor_Reports/Reports/SpecialityCategoryWiseVisitAnaly', 'Popup', 'toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=' + w + ',height=' + h + '');
        $("#dvAjaxLoad").hide();
    });
</script>
