@{
    ViewBag.Title = "SampleStockStatement";
    Layout = null;
}
<link href="../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<div>
    <div id="dvTree" style="width: 20%; float: left">
        <div id="tree" style="float: left; height: 530px; width: 100%">
        </div>
    </div>
    <div style="width: 80%; float: left" id="divMain">
        <div style="display: none;" id="divToggle">
            <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                onclick="fnToggleTree()">Hide Tree</span> | <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleInput()">Hide Input</span>
        </div>
        <div id="divInput" style="display: none; padding: 5px; min-height: 150px">
            <table>
                <tr>
                    <td>Start Date & End Date
                    </td>
                    <td>
                        <input type="text" id="txtFromDate" class='datepicker' />
                        <input type="text" id="txtToDate" class='datepicker' />
                        <input type="hidden" id="hdnUserCode" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="btnShow" name="Show" value="Show Report" onclick="fnGetsamplestock();" />

                    </td>
                </tr>
            </table>
            <div id="dvloading" style="display: none">
                <img src="../../Content/images/loader1.gif" />
            </div>
            <div id="dvTable" style="width: 100%; margin-left: 5px">
            </div>
            <div id="modal" style="border: 5px solid #676A72; background: #fff; padding: 5px; font-size: 13px; display: none; margin-left: 5%; width: 800px; height: 600px; overflow: auto">
                <span style="float: right; cursor: pointer" onclick="HideModalPopup('modal');">X</span>
                <h2 style="font-size: 15px; border-bottom: 1px solid #efefef; color: #039">Product Details:</h2>
                <div id="divModel" style="height: 100px;">
                </div>
                <div style="clear: both">
                </div>
            </div>
            <div style="clear: both">
            </div>
        </div>
        <div id="divReport">
        </div>
    </div>
</div>
<iframe id="ifrmPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divPrint" style="display: none;"></div>


<iframe id="ifrmsubPrint" style="height: 0px; width: 0px;"></iframe>
<div id="divsubPrint" style="display: none;"></div>

<script src="../../Areas/HiDoctor_Reports/Scripts/HD/SampleStock.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/ReportsCommonFiles.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>

<script type="text/javascript">
    var c_g;
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            numberOfMonths: 2
            //showButtonPanel: true
        });
    });
   
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try{

            $("#dvTree").show();
            var userCod = @Html.Raw(Json.Encode(ViewBag.UserCode)); 
            //  var dvTree = $("#tree");
            fnBindUserTree("tree");
            $('#divInput').hide();
            $('#divToggle').hide();
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }

    });   

    function fnUserTreeNodeClick(node) {
        $("#divReport").html("");
        $("#dvTree").hide();
        $('#hdnUserCode').val(node.data.key);
        $('#divInput').show();
        $("#spnTreeToggle").html('Show Tree');
        $('#divToggle').show();
        $("#divMain").css('width', '100%');     
    }

    function fnUserTreePostInit() {

    }
   
</script>
