
                        <div class="panel cls-cat-cov-main cls-common-head" style="width:100%; height:25%;" id="SpecialityDashboard">
                              <div class="panel-heading" style="padding:12px 12px;">
                           
                                   <label id="DrCaption" style="font-size:14px; font-weight:400" > Speciality wise @ViewBag.DOCTOR_CAPTION  Count </label>
                                    <select id="Speciality_Division" class="dropdown" style="color:blue;height: 32px;left:140px;"></select>                                                            
                                </div>
                            
                            <div id="tbl_Speciality"  style="width:100%;height:300px; overflow:auto;"></div>
                            </div>
    

                      <script src="~/Scripts/HD/OzoneDashboard.js"></script>    
<script type="text/javascript">
 $(document).ready(function () {
 });
    </script>