@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div>
    <div>
        <div style="font-size: 31px;">DashBoard</div>
        <div style="font-size: 15px;margin-top: 25px;color:#0072C6">Macro DashBoard</div>
        <div style="font-size: 14px;margin: 13px;text-decoration:underline;cursor:pointer" onclick="fnLoadBody('DashBoard/ActivityDashBoard',this,'DashBoard');">1. Activity Dashboard </div>
        <div style="font-size: 14px;margin: 13px;text-decoration:underline;cursor:pointer" onclick="fnLoadBody('DashBoard/ActivityVsSalesDashBoard',this,'DashBoard');">2. Activity Vs. Sales Dashboard </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();

        try {
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });
</script>
