@{
    ViewBag.Title = "DCRConsolidatedTabular";
    Layout = null;
}

<script src="../../Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<link href="../../Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />

<style type="text/css">
    .col-lg-12 {
        padding-bottom: 5px;
    }

    .table-responsive {
        overflow: auto;
    }

    .dcrConsTabHeader {
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;
        color: #06c;
        margin-top: 10px;
        height: 20px;
    }

        .dcrConsTabHeader:hover {
            cursor: pointer;
        }

    .dcrconscollapse {
        background: transparent url('../Images/plus.png') no-repeat left center !important;
    }

    .dcrconsexpand {
        background: transparent url('../Images/minus.png') no-repeat left center !important;
    }
</style>

<link href="~/Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>


<div class="col-lg-12">
    <div class='col-xs-3 leftNav' id='leftNav'>
        <div id="dvuserTree" style="float: left; height: auto; width: 100%">
        </div>
        <span id="spnTreeResize" onclick="fnTreeResize(this);"><i class="fa fa-chevron-circle-right fa-lg"></i></span>
        <div style="width: 1px;"></div>
        <input type="hidden" value="" id="hdnUserCode" />
        <input type="hidden" value="" id="hdnUserName" />
    </div>

    <div class='col-xs-9 rghtInputandRpt' style="float: left;" id="divMain">
        <div style="display: none;" id="divToggle">
            <span id="spnTreeToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                onclick="fnToggleTree()">Hide Tree</span> | <span id="spnInputToggle" style="text-decoration: underline; cursor: pointer; padding: 5px"
                    onclick="fnToggleInput()">Hide Input</span>
        </div>
        <div style="clear: both"></div>

        <div id="divInput" style="display: none; padding: 20px" class="dvRptInput">

            <div class="col-lg-12">
                <div class="helpIconright">
                    <img src="~/Images/HelpIcon.png" onclick="fnHelp('DCRCONSOLIDATEDTABULAR','PAGE')" />
                </div>
                <div style="clear: both;"></div>
            </div>


            <div class="col-lg-12">
                <div class="col-sm-2">
                    Start Date & End Date
                </div>
                <div class="col-sm-2">
                    <input type="text" id="txtFromDate" class='form-control datepicker' />

                </div>
                <div class="col-sm-2">
                    <input type="text" id="txtToDate" class='form-control datepicker' />
                </div>
                <div class="col-lg-6">
                </div>
                <div style="clear: both"></div>
            </div>

            <div class="col-lg-12">
                <div class="col-sm-2">
                    DCR Status
                </div>
                <div class="col-lg-8">
                    <input type="checkbox" id="chkApproved" value="2" name="dcrStatus" onclick="fnChangeRadioDCR();" checked="checked" />
                    <label for="2">
                        Approved</label>
                    <input type="checkbox" id="chkApplied" value="1" name="dcrStatus" onclick="fnChangeRadioDCR();" checked="checked" />
                    <label for="1">
                        Applied</label>
                    <input type="checkbox" id="chkUnApproved" value="0" name="dcrStatus" onclick="fnChangeRadioDCR();" checked="checked" />
                    <label for="0">
                        Unapproved</label>
                    <input type="checkbox" id="chkDrafted" value="3" name="dcrStatus" onclick="fnChangeRadioDCR();" />
                    <label for="3">
                        Drafted</label>
                    <input type="checkbox" id="rbAllWOD" name="dcrStatusAllWOD" value="0,1,2" onclick="fnChangeCheckWithoutDraft();" checked="checked" />
                    <label for="0">
                        All without draft</label>
                    <input type="checkbox" id="rbAllWD" name="dcrStatusAllWD" value="0,1,2,3" onclick="fnChangeCheckWithDraft();" />
                    <label for="0">
                        All with draft</label>
                </div>
                <div class="col-lg-2">
                </div>
                <div style="clear: both"></div>
            </div>

            <div class="col-lg-12">
                <div class="col-sm-2">
                    Options
                </div>
                <div class="col-lg-8">
                    <input type="checkbox" id="chkDCR" value="D" name="otn" onclick="fnChangeRadioOptinon();" />
                    <label for="D">
                        DCR</label>
                    <input type="checkbox" id="chkDoctor" value="DR" name="otn" onclick="fnChangeRadioOptinon();" />
                    <label for="DR">
                        Doctor</label>
                    <input type="checkbox" id="chkChemist" value="C" name="otn" onclick="fnChangeRadioOptinon();" />
                    <label for="C">
                        Chemist</label>
                    <input type="checkbox" id="chkStockist" value="S" name="otn" onclick="fnChangeRadioOptinon();" />
                    <label for="S">
                        Stockist</label>
                    <input type="checkbox" id="chkProduct" value="P" name="otn" onclick="fnChangeRadioOptinon();" />
                    <label for="P">
                        Product</label>
                    <input type="checkbox" id="chkExpense" value="E" name="otn" onclick="fnChangeRadioOptinon();" />
                    <label for="E">
                        Expense</label>

                    <input type="checkbox" id="rbOptionAll" name="optionAll" value="D^DR^C^S^P^E^" onclick="fnChangeCheckOptinon();" checked="checked" /><label
                        for="0">
                        All</label>
                </div>
                <div class="col-lg-2">
                </div>
                <div style="clear: both"></div>
            </div>


            <div class="col-lg-12">
                <div class="col-sm-2">
                    WideAngle DCR
                </div>
                <div class="col-lg-6">
                    <input type="checkbox" id="rbWA" name="showWA" value="Y" /><label
                        for="showWA">
                        Show DCR Dates</label>
                </div>
                <div class="col-lg-4">
                </div>
                <div style="clear: both"></div>
            </div>


            <div class="col-lg-12">
                <div class="col-sm-2"></div>
                <div class="col-lg-6">
                    <input type="radio" value="N" id="optViewInScreen" name="rptOptions" checked="checked" />
                    <label for="optViewInScreen">View in-screen</label>
                    <input type="radio" value="Y" id="optExportToExcel" name="rptOptions" />
                    <label for="optExportToExcel">Export to excel</label>
                </div>
                <div class="col-lg-4"></div>
                <div style="clear: both"></div>
            </div>

            <div class="col-lg-12">
                <div class="col-sm-2"></div>
                <div class="col-lg-5">
                    <input type="button" class="btn btnprimary" value="Show Report" onclick="fnShowDCRConsolidatedTabuler()" />
                </div>
                <div class="col-lg-5"></div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div id="dvDataTable" style="padding-top: 5px;">
        </div>
        <div id="DcrDisclaimer" style="display: none">
            *Disclaimer regarding Missed Doctor Count column</br>
1. This column will display the correct count only if the selected period for the report is exactly a calendar month. For e.g. Mar-1-2015 to Mar-31-2015 Or Sept-1- 2015 to Sept-30-2015.</br>
2. In case the selected period for the report is of 30 or 31 days but not exactly a calendar month, for e.g. Aug-5-2015 to Sept-5-2015, then the column may show an incorrect count.</br>
3. In case the Doctor List changes anytime during the selected period for the report, then too the column may show an incorrect count.</br>
It is recommended that in cases 2 or 3, user does not refer to the Missed Doctors Count Column for an exact value.</br>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>

    <div style="clear: both"></div>

    <div id="dvloading" style="display: none">
        <img src="../Areas/HiDoctor_Reports/Content/images/loader1.gif" />
    </div>
    <a href="#" class="scrollup">Scroll</a>
</div>

<div class="simple_overlay" id="dvAccOverLay">
    <div class="popUpTitle" style="height: 45px; text-align: center;">
        <span id="doc_details" style="font-size: 13px;"></span>
    </div>

    <div id="divAccDocDetail_Call" style="height: 500px; overflow: scroll">
    </div>
</div>
<script src="../../Areas/HiDoctor_Reports/Scripts/HD/DCRConsolidatedReport.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<link href="../../Areas/HiDoctor_Reports/Content/Reports.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />

<script type="text/javascript">
    var currentUserCode_g = "";
    var treeExpandLevel = 0;
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }
    });
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            numberOfMonths: 2
            //showButtonPanel: true
        });
    });
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try {
            $(document).ajaxStop($.unblockUI); 
            $("#leftNav").show();
            var leftNav = $("#dvUserTree");
            fnTreePosiition("dvuserTree");
            currentUserCode_g = @Html.Raw(Json.Encode(ViewBag.cur_UserCode));
            fnGetUserTreeByUser(currentUserCode_g, "dvUserTree", "dvFilteredNode");        
            $('#dvPreviousNode').click(function () { fnBindUsersWithOneLevelParent(); });
            $('#txtSearchNode').bind("keypress", function (e) {
                if (e.keyCode == 13) {                       
                    fnSearchUsers();
                    return false;
                }
            });         
            $("#dvAjaxLoad").hide();
            myFunction();
            $("#dvAccOverLay").overlay().load();
        }
        catch (err) {
            $("#dvAjaxLoad").hide();
        }
    });

    function fnUserTreeNodeClick(node) {       
        $("#hdnUserCode").val(node.data.key);
        $("#hdnUserName").val(node.data.title);
        $("#divInput").show();
        $("#leftNav").show();
        $("#divMain").addClass('col-xs-9');        
        $('#divToggle').show();        
        $("#dvDataTable").hide();
        $("#dvDataTable").html('');        
    }

    function fnUserTreePostInit() {
    }

       
    function fnToggleTree() {
        if ($("#spnTreeToggle").html() == "Hide Tree") {            
            $('#dvuserTree').hide();  
            $('#leftNav').removeClass('col-xs-5');
            $('#leftNav').removeClass('col-xs-4');
            $('#leftNav').removeClass('col-xs-3');
            $("#divMain").removeClass('col-xs-9');
            $("#divMain").removeClass('col-xs-8');
            $("#divMain").removeClass('col-xs-7');
            $("#divMain").addClass('col-xs-11');            
            $("#spnTreeToggle").html('Show Tree');

            //Expand the Tree
            $('#spnTreeResize').attr('title', 'Click here to expand tree');
            $('#spnTreeResize').html('<i class="fa fa-chevron-circle-right fa-lg"></i>');
        }
        else if ($("#spnTreeToggle").html() == "Show Tree") {                    
            $('#dvuserTree').show();           
            $('#leftNav').addClass('col-xs-3');
            $('#divMain').removeClass('col-xs-7'); 
            $('#divMain').removeClass('col-xs-8'); 
            $('#divMain').removeClass('col-xs-9');   
            $("#divMain").addClass('col-xs-9');            
            $("#spnTreeToggle").html('Hide Tree');           
        }
    }
    function fnToggleInput() {
        if ($("#spnInputToggle").html() == "Hide Input") {
            $("#divInput").slideUp();
            $("#spnInputToggle").html("Show Input");
        }
        else if ($("#spnInputToggle").html() == "Show Input") {
            $("#spnInputToggle").html("Hide Input");
            $("#divInput").slideDown();

        }
    }

    function fnTreeResize(obj) {
        if (treeExpandLevel == 2) {
            treeExpandLevel = -1;
        }
        else {
            treeExpandLevel = parseInt(treeExpandLevel) + 1;
        }
        fnExpandCollapseUserTree(treeExpandLevel, 'leftNav', 'treeNav', obj, 'divMain', 'dvuserTree');
    }


    function myFunction() {
        setInterval(function () { fnGetSession(); }, 3000);

    }


    function fnGetSession() {
        $.ajax({
            type: 'POST',
            url: '../../Home/GetHomeSession/',
            data: 'A',
            success: function (response) {

            },
            error: function () {

            }
        });

    }
</script>

