@{
    ViewBag.Title = "DownloadComprehensiveAnalysisReportExcel";
}

<h2>DownloadComprehensiveAnalysisReportExcel</h2>
<a href="http://localhost:50675/Views/Reports/DownloadComprehensiveAnalysisReportExcel.cshtml">http://localhost:50675/Views/Reports/DownloadComprehensiveAnalysisReportExcel.cshtml</a>